.antique-italic{
  font-family: BookAntiqueItalic;
}
.antique-italic-bold{
  font-family: BookAntiqueItalicBold;
}
.clear-both{
  clear: both;
}
.color-pink{
  color: $color-pink;
}
.font-size18{
  font-size: 18px;
}
.font-size24{
  font-size: 24px;
}
