/* default sass file */
@import "compass";
@import "variables";
@import "mixins";
@import "tags";
@import "classes";
@import "layout";
// Myriad Pro
@font-face {
  font-family: 'MyriadProCond';
  src: url('../fonts/MyriadProCond.eot');
  src: url('../fonts/MyriadProCond.eot') format('embedded-opentype'),
  url('../fonts/MyriadProCond.woff2') format('woff2'),
  url('../fonts/MyriadProCond.woff') format('woff'),
  url('../fonts/MyriadProCond.ttf') format('truetype'),
  url('../fonts/MyriadProCond.svg#MyriadProCond') format('svg');
}
@font-face {
  font-family: 'MyriadProIt';
  src: url('../fonts/MyriadProIt.eot');
  src: url('../fonts/MyriadProIt.eot') format('embedded-opentype'),
  url('../fonts/MyriadProIt.woff2') format('woff2'),
  url('../fonts/MyriadProIt.woff') format('woff'),
  url('../fonts/MyriadProIt.ttf') format('truetype'),
  url('../fonts/MyriadProIt.svg#MyriadProIt') format('svg');
}
@font-face {
  font-family: 'MyriadProBold';
  src: url('../fonts/MyriadProBold.eot');
  src: url('../fonts/MyriadProBold.eot') format('embedded-opentype'),
  url('../fonts/MyriadProBold.woff2') format('woff2'),
  url('../fonts/MyriadProBold.woff') format('woff'),
  url('../fonts/MyriadProBold.ttf') format('truetype'),
  url('../fonts/MyriadProBold.svg#MyriadProBold') format('svg');
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/MyriadProRegular.eot');
  src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
  url('../fonts/MyriadProRegular.woff2') format('woff2'),
  url('../fonts/MyriadProRegular.woff') format('woff'),
  url('../fonts/MyriadProRegular.ttf') format('truetype'),
  url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
// Book Antique
@font-face {
  font-family: 'BookAntiqueRegular';
  src: url('../fonts/BookAntiqueRegular.eot');
  src: url('../fonts/BookAntiqueRegular.eot') format('embedded-opentype'),
  url('../fonts/BookAntiqueRegular.woff2') format('woff2'),
  url('../fonts/BookAntiqueRegular.woff') format('woff'),
  url('../fonts/BookAntiqueRegular.ttf') format('truetype'),
  url('../fonts/BookAntiqueRegular.svg#BookAntiqueRegular') format('svg');
}
@font-face {
  font-family: 'BookAntiqueBold';
  src: url('../fonts/BookAntiqueBold.eot');
  src: url('../fonts/BookAntiqueBold.eot') format('embedded-opentype'),
  url('../fonts/BookAntiqueBold.woff2') format('woff2'),
  url('../fonts/BookAntiqueBold.woff') format('woff'),
  url('../fonts/BookAntiqueBold.ttf') format('truetype'),
  url('../fonts/BookAntiqueBold.svg#BookAntiqueBold') format('svg');
}
@font-face {
  font-family: 'BookAntiqueItalic';
  src: url('../fonts/BookAntiqueItalic.eot');
  src: url('../fonts/BookAntiqueItalic.eot') format('embedded-opentype'),
  url('../fonts/BookAntiqueItalic.woff2') format('woff2'),
  url('../fonts/BookAntiqueItalic.woff') format('woff'),
  url('../fonts/BookAntiqueItalic.ttf') format('truetype'),
  url('../fonts/BookAntiqueItalic.svg#BookAntiqueItalic') format('svg');
}
@font-face {
  font-family: 'BookAntiqueItalicBold';
  src: url('../fonts/BookAntiqueItalicBold.eot');
  src: url('../fonts/BookAntiqueItalicBold.eot') format('embedded-opentype'),
  url('../fonts/BookAntiqueItalicBold.woff2') format('woff2'),
  url('../fonts/BookAntiqueItalicBold.woff') format('woff'),
  url('../fonts/BookAntiqueItalicBold.ttf') format('truetype'),
  url('../fonts/BookAntiqueItalicBold.svg#BookAntiqueItalicBold') format('svg');
}
// PT Sans
/*@font-face {
  font-family: 'PTSansRegular';
  src: url('../fonts/pt_sans-web-regular-webfont.eot');
  src: url('../fonts/pt_sans-web-regular-webfont.eot') format('embedded-opentype'),
  url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
  url('../fonts/pt_sans-web-regular-webfont.woff') format('woff'),
  url('../fonts/pt_sans-web-regular-webfont.ttf') format('truetype'),
  url('../fonts/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/*
@font-face {
  font-family: 'pt_sansbold';
  src: url('../fonts/pt_sans-web-bold-webfont.eot');
  src: url('../fonts/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
  url('../fonts/pt_sans-web-bold-webfont.woff') format('woff'),
  url('../fonts/pt_sans-web-bold-webfont.ttf') format('truetype'),
  url('../fonts/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/*
@font-face {
  font-family: 'pt_sansitalic';
  src: url('../fonts/pt_sans-web-italic-webfont.eot');
  src: url('../fonts/pt_sans-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt_sans-web-italic-webfont.woff2') format('woff2'),
  url('../fonts/pt_sans-web-italic-webfont.woff') format('woff'),
  url('../fonts/pt_sans-web-italic-webfont.ttf') format('truetype'),
  url('../fonts/pt_sans-web-italic-webfont.svg#pt_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/*
@font-face {
  font-family: 'pt_sansbold_italic';
  src: url('../fonts/pt_sans-web-bolditalic-webfont.eot');
  src: url('../fonts/pt_sans-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/pt_sans-web-bolditalic-webfont.woff') format('woff'),
  url('../fonts/pt_sans-web-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/pt_sans-web-bolditalic-webfont.svg#pt_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
// Google
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
//-----------------------------------------------------------------------
#ask-specialist{
  background: url("../images/sources/ask-specialist.png");
  background-position: 15px 13px;
}
#banner {
  height: 201px;
  position: relative;
}
// Visa, MasterCard, Wifi
#cards{
  font-size: 0;
  margin-right: 7%;
  @media (max-width:1024px){
    margin-right: 3%;
  }
  @media (max-width:1024px){
    display: none;
  }
}
#copyright{
  @media (max-width:1024px){
    background-color: #000000;
    color:white;
  }
}
// ---------------------
#discount{
  display: none;
  font-family: BookAntiqueItalic;
  @media (min-width:1024px){
    display: block;
  }
}
#discount1{
  @include box-sizing(border-box);
  font-family: BookAntiqueItalic;
  font-size: 18px;
  margin-top: -4px;
  @include opacity(0.21);
  padding-right: 77px;
  text-align: right;
  @include transform(scale(1.25,1.1));
}
#discount2{
  margin-top: -14px;
}
#discount-more{
  display: table;
  margin: auto;
}
#email{
  clear: both;
  color: $color-dark;
  float: right;
  font-family: $font-tahoma-family;
  font-size: 13.4px;
  font-weight: bold;
  margin-right: -9px;
  margin-top: -2px;
  transform: scaleX(0.9);
  &::before {
    content: "info@visavi-salon.spb.ru";
  }
}
#first-visit{
  color: $color-dark;
  font-size: 14px;
  margin-left: 3px;
}
#make-appointment{
  background: url("../images/sources/make-appointment.png");
  background-position: 13px 11px;
}
#make-gift{
  background: url("../images/sources/make-gift.png");
  background-position: 13px 10px;
}
#page{
  background-color: white;
  @include box-shadow(0 0 6px 0 rgba(0,0,0,0.2));
  margin: auto;
  max-width: 1100px;
  @media (max-width:1024px){
    max-width: 1007px;
  }
}
#phones{
  float: right;
  clear: both;
}
#roof{
  background-color: $background-whitesmoke;
  height: 34px;
  @include border-common;
}
#slider{
  background: url("../images/sources/banner.jpg");
  height: 100%;
  position: relative;
}
#slider-controls{
  bottom: 15px;
  left: 28.1%;
  position: absolute;
}
#social{
  height: 34px;
  margin: 2px 0;
  @media (min-width:1024px){
      display: none;
  }
}
#visavi{
  background: url("../images/sources/logotype.png") no-repeat 3.2% 17px;
  height: 107px;
  @include border-common;
}
//--------------------mobile--------------------
#all-services,#join-us,#roof-mobile{
  display: none;
}
#all-services{
  background-color: $background-menu-pink;
  height: 44px;
}
#roof-mobile{
  background: url("../images/sources/logotype-mobile.png") no-repeat 15px 5px;
  height: 44px;
}
@media (max-width:320px){
  #banner, #roof, #visavi{
      display: none;
  }
}
@media (max-width:320px){
  #all-services,#join-us,#roof-mobile{
    display: block;
  }
}