/* default sass file */
@import "compass";
@import "variables";
@import "mixins";
@import "tags";
@import "classes";
@import "layout";
@font-face {
  font-family: 'MyriadProCond';
  src: url('../fonts/MyriadProCond.eot');
  src: url('../fonts/MyriadProCond.eot') format('embedded-opentype'),
  url('../fonts/MyriadProCond.woff2') format('woff2'),
  url('../fonts/MyriadProCond.woff') format('woff'),
  url('../fonts/MyriadProCond.ttf') format('truetype'),
  url('../fonts/MyriadProCond.svg#MyriadProCond') format('svg');
}
@font-face {
  font-family: 'MyriadProIt';
  src: url('../fonts/MyriadProIt.eot');
  src: url('../fonts/MyriadProIt.eot') format('embedded-opentype'),
  url('../fonts/MyriadProIt.woff2') format('woff2'),
  url('../fonts/MyriadProIt.woff') format('woff'),
  url('../fonts/MyriadProIt.ttf') format('truetype'),
  url('../fonts/MyriadProIt.svg#MyriadProIt') format('svg');
}
@font-face {
  font-family: 'MyriadProBold';
  src: url('../fonts/MyriadProBold.eot');
  src: url('../fonts/MyriadProBold.eot') format('embedded-opentype'),
  url('../fonts/MyriadProBold.woff2') format('woff2'),
  url('../fonts/MyriadProBold.woff') format('woff'),
  url('../fonts/MyriadProBold.ttf') format('truetype'),
  url('../fonts/MyriadProBold.svg#MyriadProBold') format('svg');
}
@font-face {
  font-family: 'MyriadProRegular';
  src: url('../fonts/MyriadProRegular.eot');
  src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
  url('../fonts/MyriadProRegular.woff2') format('woff2'),
  url('../fonts/MyriadProRegular.woff') format('woff'),
  url('../fonts/MyriadProRegular.ttf') format('truetype'),
  url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
@font-face {
  font-family: 'BookAntiqueRegular';
  src: url('../fonts/BookAntiqueRegular.eot');
  src: url('../fonts/BookAntiqueRegular.eot') format('embedded-opentype'),
  url('../fonts/BookAntiqueRegular.woff2') format('woff2'),
  url('../fonts/BookAntiqueRegular.woff') format('woff'),
  url('../fonts/BookAntiqueRegular.ttf') format('truetype'),
  url('../fotns/BookAntiqueRegular.svg#BookAntiqueRegular') format('svg');
}
@font-face {
  font-family: 'BookAntiqueBold';
  src: url('../fonts/BookAntiqueBold.eot');
  src: url('../fonts/BookAntiqueBold.eot') format('embedded-opentype'),
  url('../fonts/BookAntiqueBold.woff2') format('woff2'),
  url('../fonts/BookAntiqueBold.woff') format('woff'),
  url('../fonts/BookAntiqueBold.ttf') format('truetype'),
  url('../fotns/BookAntiqueBold.svg#BookAntiqueBold') format('svg');
}
@font-face {
  font-family: 'BookAntiqueItalic';
  src: url('../fonts/BookAntiqueItalic.eot');
  src: url('../fonts/BookAntiqueItalic.eot') format('embedded-opentype'),
  url('../fonts/BookAntiqueItalic.woff2') format('woff2'),
  url('../fonts/BookAntiqueItalic.woff') format('woff'),
  url('../fonts/BookAntiqueItalic.ttf') format('truetype'),
  url('../fotns/BookAntiqueItalic.svg#BookAntiqueItalic') format('svg');
}
@font-face {
  font-family: 'BookAntiqueItalicBold';
  src: url('../fonts/BookAntiqueItalicBold.eot');
  src: url('../fonts/BookAntiqueItalicBold.eot') format('embedded-opentype'),
  url('../fonts/BookAntiqueItalicBold.woff2') format('woff2'),
  url('../fonts/BookAntiqueItalicBold.woff') format('woff'),
  url('../fonts/BookAntiqueItalicBold.ttf') format('truetype'),
  url('../fotns/BookAntiqueItalicBold.svg#BookAntiqueItalicBold') format('svg');
}
//-----------------------------------------------------------------------
// Visa, MasterCard, Wifi
#cards{
  font-size: 0;
  margin-right: 7%;
  //width: 141px;
}
// ---------------------

#page{
  background-color: white;
  margin: auto;
  max-width: 1100px;
}
#roof{
  height: 34px;
}
#slider{
  height: 201px;
}
#visavi{
  background: url("../images/sources/logotype.png") no-repeat 3.2% 17px;
  height: 107px;
}