@mixin border-common($border:border-bottom){
  #{$border}:solid 1px #e1e1e1;
}
@mixin centered-vertical {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}
@mixin centered-vertical-a {
  position: relative;
  @include transform(translateY(50%));
}
@mixin link-white{
  color: white;
  font-family: tahoma, arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
@mixin phones-numbers($padding-left:18px){
  color: $color-dark;
  background: url("../images/sources/mobila.png") no-repeat;
  @include box-sizing(border-box);
  font-family: BookAntiqueBold;
  font-size: 19px;
  margin-top: 5px;
  padding-left: $padding-left;
  background-position-y: 3px;
}
