//@import "compass";
a{
  #roof menu &{
    color: #333333;
    font-family: MyriadProRegular;
    font-size: 13.5px;
    display: block;
    padding-left: 9.8px;
    padding-right: 9.8px;
    text-decoration: none;
    @include centered-vertical-a;
    &:hover{
      text-decoration: underline;
    }
  }
  // ссылки перед формой поиска - VISA, MasterCard, WiFi
  #roof div:nth-child(3) &{
    display: inline-block;
    @include centered-vertical-a;
  }
  nav &{
    background-color: $color-pink;
    display: table-cell;
    height: 100%;
  }
}
body{
  background-image: url("../images/backgrounds/body-flowers.jpg");
}
div{
  #roof >&{
    float: right;
    height: 100%;
    // Форма поиска
    &:nth-child(2){
      margin-right: 31px;
    }
  }
}
form{
  #roof &{
    @include centered-vertical;
  }
}
li{
  display: table-cell;
}
menu{
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  #roof &{
    float: left;
    margin-left: 20px;
  }
}
nav{
  display: table;
  height: 119px;
  width: 100%;
}