a{
  #banner>div:not(#slider)>&{
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    @include link-white;
    width: 100%;
  }
  #cards &{ // Visa, MasterCard, Wifi

    background-image: url("../images/sources/cards-wifi.png");
    background-position-y: 6px;
    background-repeat: no-repeat;

    display: inline-block;
    height: 100%;
    &:nth-child(1){
      background-position-x:0;
      margin-right: 5px;
      width: 44px;
    }
    &:nth-child(2){
      background-position-x:-49px;
      margin-right: 19px;
      width: 37px;
    }
    &:nth-child(3){
      background-position-x:-105px;
      width: 36px;
    }
  }
  #discount-more >&{
    //color: blue;
    float: left;
    font-size: 12px;
    margin-top: 3px;
  }
  #roof menu &{
    @include box-sizing(border-box);
    color: #333333;
    font-family: MyriadProRegular;
    font-size: 13.5px;
    display: block;
    padding-left: 9.8px;
    padding-right: 9.8px;
    text-decoration: none;
    @include centered-vertical-a;
    &:hover{
      text-decoration: underline;
    }
  }
  #roof div:nth-child(3) &{ // ссылки перед формой поиска - VISA, MasterCard, WiFi
    display: inline-block;
    //@include centered-vertical-a;
  }
  nav &{
    background-color: $color-pink;
    display: table-cell;
    height: 100%;
    @include link-white;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    &:not(:last-child){
      border-right: solid 1px #eb6581;
    }
    &:hover{
      background-color: $hover-menu-color-pink;
    }
    &:nth-child(1){
      background-image: url('../images/sources/menu-hairs-care.png');
      background-position: 49% 21px;
    }
    &:nth-child(2){
      background-image: url('../images/sources/menu-limbs-care.png');
      background-position: 44% 17px;
    }
    &:nth-child(3){
      background-image: url('../images/sources/menu-face-care.png');
      background-position: 48% 23px;
    }
    &:nth-child(4){
      background-image: url('../images/sources/menu-body-care.png');
      background-position: 51% 23px;
    }
    &:nth-child(5){
      background-image: url('../images/sources/menu-laser-epilation.png');
      background-position: 50% 24px;
    }
    &:nth-child(6){
      background-image: url('../images/sources/menu-injection-cosmetic.png');
      background-position: 48% 24px;
    }
    &:nth-child(7) {
      background-image: url('../images/sources/menu-apparatus-cosmetic.png');
      background-position: 47% 15px;
    }
  }
}
body{
  background-image: url("../images/backgrounds/bg.jpg");
  @include box-sizing(border-box);
}
button{
  #roof &{ // кнопка поиска в самом верхнем меню
    background-color: #000;
    border: none;
    color: white;
    font-family: Tahoma;
    font-size: 11px;
    height: 26px;
    text-align: center;
    width: 50px;
  }
}
div{
  #phones &{
    float: right;
    &:nth-child(1){
      @include phones-numbers;
    }
    &:nth-child(2){
      @include phones-numbers;
      margin-right: 20px;
    }
    &:nth-child(3){
      font-family: 'PT Sans';
      font-size: 13px;
      margin-top: 4px;
    }
  }
  #roof >&{
    float: right;
    height: 100%;
    // Форма поиска
    &:nth-child(2){
      margin-right: $margin-right-layout-top;
    }
  }
  #banner >&:not(#slider){
    background-size: cover;
    height: 46px;
    position: absolute;
    right: $margin-right-layout-top;
    width: 201px;
    &:nth-child(2){ // записаться онлайн
      background-color: #ff7a95;
      top:15px;
      &:hover{
        background-image: url("../images/sources/hover-make-appointment.jpg");
      }
    }
    &:nth-child(3){ // подари сертификат
      background-color: #ee4c90;
      top:77px;
      &:hover{
        background-image: url("../images/sources/hover-make-gift.jpg");
      }
    }
    &:nth-child(4){ // задать вопрос специалисту
      background-color: #8d0e29;
      top:139px;
      &:hover{
        background-image: url("../images/sources/hover-ask-specialist.jpg");
      }
    }
  }
  #banner >&:not(#slider)>a>&{ // внутри ссылок в правой части баннера
    @include box-sizing(border-box);
    padding-left: 52px;
    @include centered-vertical;
  }
  #visavi >&{
    &:nth-child(1){ // Скидки
      // testmode: background-color
      // background-color: lightcyan;

      float: left;
      margin-left: 26.2%;
      margin-top: 33px;
    }
    &:nth-child(2){ // Контакты (тел., адрес)
      // testmode: background-color
      // background-color: lightpink;

      float: right;
      margin-right: $margin-right-layout-top;
      margin-top: 24px;
    }
  }
  nav>a>&{
    bottom: 0;
    height: 53px;
    position: absolute;
    width: 100%;
  }
  nav>a>div>&{
    @include centered-vertical;
    margin: auto;
    max-width: 126px;
  }
}
form{
  #roof &{
    @include centered-vertical;
  }
}
input{
  #roof &{
    @include box-sizing(border-box);
    height: 26px;
    margin-right: -4px;
    padding-left: 5px;
    width: 150px;
  }
}
li{
  display: table-cell;
}
menu{
  @include box-sizing(border-box);
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  #roof &{
    float: left;
    margin-left: 20px;
  }
}
nav{
  display: table;
  height: 119px;
  position: relative;
  width: 100%;
}
span{
  #discount-more &{
    background: url("../images/sources/curly-more.png") no-repeat;
    &:first-child{
      float: left;
      height: 18px;
      margin-left: 8px;
      margin-right: -1px;
      margin-top: 2px;
      width: 11px;
    }
    &:last-child{
      background-position-x: -68px;
      float: left;
      height: 20px;
      margin-top: 3px;
      width: 10px;
    }
  }
  #discount2 span:first-child &{ // 20%
    margin-left: 2px;
  }
}