#page-actions
    h1.italic.bold.first.color-dark="Акции"
    -var txt_template="Косметология ─ это тандем разлчных специализированных процедур, направленных на уход за кожей. Находясь между медицинской наукой и искусством, косметология является постоянно развивающейся сферой. Обладая современными знаниями и навыками, а также ─ постоянно повышая свою квалификацию, косметологи предоставляют высокий уровень качества услуг."
    each text,link in { 'discount-first':'Скидка 50% на первое посещение салона', 'sertificates-sale':'Распродажа подарочных сертификатов', 'contour-plactics-sale':'Скидак на контурную пластику', 'lpg-sale':'Скидака на LPG', 'rf-lifting-sale':'Скидка на RF-лифтинг'}
        h4
            a(href=link)=text
        p=txt_template
