@charset "IBM866";
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
/* default sass file */
/* line 2, ../../scss/tags.scss */
a.active {
  color: #e42c52 !important;
  text-transform: uppercase; }
/* line 6, ../../scss/tags.scss */
#banner > div:not(#slider) > a {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  color: white;
  font-family: tahoma, arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; }
/* line 13, ../../scss/tags.scss */
#cards a {
  background-image: url("../images/sources/cards-wifi.png");
  background-position-y: 6px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100%; }
  /* line 21, ../../scss/tags.scss */
  #cards a:nth-child(1) {
    background-position-x: 0;
    margin-right: 5px;
    width: 44px; }
  /* line 26, ../../scss/tags.scss */
  #cards a:nth-child(2) {
    background-position-x: -49px;
    margin-right: 19px;
    width: 37px; }
  /* line 31, ../../scss/tags.scss */
  #cards a:nth-child(3) {
    background-position-x: -105px;
    width: 36px; }
/* line 36, ../../scss/tags.scss */
#discount-more > a {
  float: left;
  font-size: 12px;
  margin-top: 3px; }
/* line 42, ../../scss/tags.scss */
#roof menu a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
  font-family: MyriadProRegular;
  font-size: 13.5px;
  display: block;
  padding: 0 14.65%;
  text-decoration: none;
  position: relative;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  white-space: nowrap; }
  @media (max-width: 768px) {
    /* line 42, ../../scss/tags.scss */
    #roof menu a {
      padding-left: 8%;
      padding-right: 8%; } }
  /* line 56, ../../scss/tags.scss */
  #roof menu a:hover {
    text-decoration: underline; }
/* line 60, ../../scss/tags.scss */
#roof div:nth-child(3) a {
  display: inline-block; }
/* line 65, ../../scss/tags.scss */
footer menu a {
  color: #ccc;
  font-family: MyriadProRegular;
  font-size: 13px;
  text-decoration: none;
  white-space: nowrap; }
/* line 73, ../../scss/tags.scss */
nav a {
  background-color: #e42c52;
  display: table-cell;
  height: 100%;
  color: white;
  font-family: tahoma, arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  width: 14.286%;
  /*@media (min-width:768px) and (max-width:1024px){
    &:first-child{
      border-left: $link-border;
    }
    &:last-child{
      border-right: $link-border;
    }
  }*/ }
  /* line 83, ../../scss/tags.scss */
  nav a:not(:last-child) {
    border-right: solid 1px #eb6581; }
  /* line 86, ../../scss/tags.scss */
  nav a:hover {
    background-color: #d82348; }
  /* line 89, ../../scss/tags.scss */
  nav a:nth-child(1) {
    background-image: url("../images/sources/menu-hairs-care.png");
    background-position: 49% 21px; }
  /* line 93, ../../scss/tags.scss */
  nav a:nth-child(2) {
    background-image: url("../images/sources/menu-limbs-care.png");
    background-position: 44% 17px; }
  /* line 97, ../../scss/tags.scss */
  nav a:nth-child(3) {
    background-image: url("../images/sources/menu-face-care.png");
    background-position: 48% 23px; }
  /* line 101, ../../scss/tags.scss */
  nav a:nth-child(4) {
    background-image: url("../images/sources/menu-body-care.png");
    background-position: 51% 23px; }
  /* line 105, ../../scss/tags.scss */
  nav a:nth-child(5) {
    background-image: url("../images/sources/menu-laser-epilation.png");
    background-position: 50% 24px; }
  /* line 109, ../../scss/tags.scss */
  nav a:nth-child(6) {
    background-image: url("../images/sources/menu-injection-cosmetic.png");
    background-position: 48% 24px; }
  /* line 113, ../../scss/tags.scss */
  nav a:nth-child(7) {
    background-image: url("../images/sources/menu-apparatus-cosmetic.png");
    background-position: 47% 15px; }

/* line 127, ../../scss/tags.scss */
body {
  background-image: url("../images/backgrounds/bg.jpg");
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 132, ../../scss/tags.scss */
#roof button {
  background-color: #000;
  border: none;
  color: white;
  font-family: Tahoma;
  font-size: 11px;
  height: 26px;
  text-align: center;
  width: 50px; }

/* line 143, ../../scss/tags.scss */
div {
  /* FOOTER --------------------------------------------------- */
  /* Конец FOOTER'а ------------------------------------------- */
  /* NAV ------------------------------------------------------ */
  /* Конец NAV'а ------------------------------------------- */ }
  /* line 144, ../../scss/tags.scss */
  #banner > div:not(#slider) {
    background-size: cover;
    height: 46px;
    position: absolute;
    right: 30px;
    width: 201px; }
    @media (max-width: 1024px) {
      /* line 144, ../../scss/tags.scss */
      #banner > div:not(#slider) {
        right: 20px; } }
    /* line 153, ../../scss/tags.scss */
    #banner > div:not(#slider):nth-child(2) {
      background-color: #ff7a95;
      top: 15px; }
      /* line 156, ../../scss/tags.scss */
      #banner > div:not(#slider):nth-child(2):hover {
        background-image: url("../images/sources/hover-make-appointment.jpg"); }
    /* line 160, ../../scss/tags.scss */
    #banner > div:not(#slider):nth-child(3) {
      background-color: #ee4c90;
      top: 77px; }
      /* line 163, ../../scss/tags.scss */
      #banner > div:not(#slider):nth-child(3):hover {
        background-image: url("../images/sources/hover-make-gift.jpg"); }
    /* line 167, ../../scss/tags.scss */
    #banner > div:not(#slider):nth-child(4) {
      background-color: #8d0e29;
      top: 139px; }
      /* line 170, ../../scss/tags.scss */
      #banner > div:not(#slider):nth-child(4):hover {
        background-image: url("../images/sources/hover-ask-specialist.jpg"); }
  /* line 175, ../../scss/tags.scss */
  #banner > div:not(#slider) > a > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 52px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  /* line 181, ../../scss/tags.scss */
  #slider-controls > div {
    color: red;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 5px;
    border: solid 1px #e1e1e1;
    color: #9c9c9c;
    float: left;
    font-size: 13px;
    height: 27px;
    margin: auto 3px;
    text-align: center;
    width: 28px; }
    /* line 193, ../../scss/tags.scss */
    #slider-controls > div:hover {
      color: #ff7a95;
      cursor: pointer; }
    /* line 198, ../../scss/tags.scss */
    #slider-controls > div:nth-child(2) {
      font-size: 21px;
      line-height: 20px;
      padding-top: 0; }
  /* line 204, ../../scss/tags.scss */
  #phones div {
    float: right; }
    /* line 206, ../../scss/tags.scss */
    #phones div:nth-child(1) {
      color: #333333;
      background: url("../images/sources/mobila.png") no-repeat;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: BookAntiqueBold;
      font-size: 19px;
      margin-top: 5px;
      padding-left: 18px;
      background-position-y: 3px; }
    /* line 209, ../../scss/tags.scss */
    #phones div:nth-child(2) {
      color: #333333;
      background: url("../images/sources/mobila.png") no-repeat;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: BookAntiqueBold;
      font-size: 19px;
      margin-top: 5px;
      padding-left: 18px;
      background-position-y: 3px;
      margin-right: 20px; }
    /* line 213, ../../scss/tags.scss */
    #phones div:nth-child(3) {
      font-family: 'PT Sans';
      font-size: 13px;
      margin-top: 4px; }
  /* line 219, ../../scss/tags.scss */
  #roof > div {
    float: right;
    height: 100%; }
    /* line 223, ../../scss/tags.scss */
    #roof > div:nth-child(2) {
      margin-right: 30px; }
      @media (max-width: 1024px) {
        /* line 223, ../../scss/tags.scss */
        #roof > div:nth-child(2) {
          margin-right: 20px; } }
  /* line 231, ../../scss/tags.scss */
  #visavi > div:nth-child(1) {
    float: left;
    margin-left: 26.2%;
    margin-top: 33px; }
  /* line 239, ../../scss/tags.scss */
  #visavi > div:nth-child(2) {
    float: right;
    margin-right: 30px;
    margin-top: 24px; }
    @media (max-width: 1024px) {
      /* line 239, ../../scss/tags.scss */
      #visavi > div:nth-child(2) {
        margin-right: 20px; } }
  /* line 256, ../../scss/tags.scss */
  footer > div:nth-child(1) {
    font-family: BookAntiqueItalic;
    height: 34px;
    text-align: center; }
  /* line 262, ../../scss/tags.scss */
  footer > div:nth-child(2) {
    background-color: #000000;
    height: 78px; }
  /* line 267, ../../scss/tags.scss */
  footer > div:nth-child(3) {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: tahoma, arial, sans-serif;
    font-size: 11px;
    height: 34px;
    line-height: 34px;
    padding-left: 30px;
    padding-right: 30px; }
    @media (max-width: 1024px) {
      /* line 267, ../../scss/tags.scss */
      footer > div:nth-child(3) {
        padding-left: 20px;
        padding-right: 20px; } }
  @media (max-width: 1024px) {
    /* line 281, ../../scss/tags.scss */
    footer > div:nth-child(1), footer > div:nth-child(2) {
      display: none; } }
  /* line 287, ../../scss/tags.scss */
  footer > div:nth-child(1) > div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  /* line 291, ../../scss/tags.scss */
  footer > div:nth-child(2) > div {
    float: left;
    /*&:nth-child(2) {

    }*/ }
    /* line 294, ../../scss/tags.scss */
    footer > div:nth-child(2) > div:nth-child(1) {
      background-color: brown;
      background: url("../images/sources/logotype-bottom.png") no-repeat center;
      height: 100%;
      margin-right: 2.8%;
      width: 25%; }
    /* line 307, ../../scss/tags.scss */
    footer > div:nth-child(2) > div:nth-child(3) {
      float: right;
      margin-right: 2.9%;
      white-space: nowrap; }
  /* line 315, ../../scss/tags.scss */
  nav > a > div {
    bottom: 0;
    height: 53px;
    position: absolute;
    width: 100%; }
  /* line 321, ../../scss/tags.scss */
  nav > a > div > div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    max-width: 126px; }

/* line 329, ../../scss/tags.scss */
#roof form {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 334, ../../scss/tags.scss */
#social img {
  margin-left: 1px; }
/* line 339, ../../scss/tags.scss */
footer > div:nth-child(2)
> div:nth-child(3) > img:first-child {
  margin-left: -8.5%;
  margin-right: 8.5%; }

/* line 346, ../../scss/tags.scss */
#roof input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 26px;
  margin-right: -4px;
  padding-left: 5px;
  width: 150px; }

/* line 354, ../../scss/tags.scss */
li {
  display: table-cell; }
  /* line 356, ../../scss/tags.scss */
  footer li {
    padding: 4px 1.95%; }

/* line 360, ../../scss/tags.scss */
menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  height: 100%;
  margin: 0;
  padding: 0; }
  /* line 366, ../../scss/tags.scss */
  footer menu {
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  /* line 370, ../../scss/tags.scss */
  #roof menu {
    float: left;
    margin-left: 20px; }

/* line 375, ../../scss/tags.scss */
nav {
  background-color: #e42c52;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  height: 119px;
  position: relative;
  width: 100%;
  /*@media (min-width:768px) and (max-width:1024px){
    padding: 0 $offset-common1024;
  }*/ }

/* line 387, ../../scss/tags.scss */
#discount-more span {
  background: url("../images/sources/curly-more.png") no-repeat; }
  /* line 389, ../../scss/tags.scss */
  #discount-more span:first-child {
    float: left;
    height: 18px;
    margin-left: 8px;
    margin-right: -1px;
    margin-top: 2px;
    width: 11px; }
  /* line 397, ../../scss/tags.scss */
  #discount-more span:last-child {
    background-position-x: -68px;
    float: left;
    height: 20px;
    margin-top: 3px;
    width: 10px; }
/* line 405, ../../scss/tags.scss */
#discount2 span:first-child span {
  margin-left: 2px; }
/* line 410, ../../scss/tags.scss */
#slider-controls > div:first-child span, #slider-controls > div:last-child span {
  display: block;
  -webkit-transform: scaleX(0.8);
  -moz-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  -o-transform: scaleX(0.8);
  transform: scaleX(0.8); }
/* line 415, ../../scss/tags.scss */
footer > div:nth-child(1)
> div > span {
  color: #333333;
  font-size: 14px; }
  /* line 418, ../../scss/tags.scss */
  footer > div:nth-child(1)
  > div > span:nth-child(1) {
    color: #e42c52; }

/* line 1, ../../scss/classes.scss */
.antique-italic {
  font-family: BookAntiqueItalic; }

/* line 4, ../../scss/classes.scss */
.antique-italic-bold {
  font-family: BookAntiqueItalicBold; }

/* line 7, ../../scss/classes.scss */
.clear-both {
  clear: both; }

/* line 10, ../../scss/classes.scss */
.color-pink {
  color: #e42c52; }

/* line 13, ../../scss/classes.scss */
.float-left {
  float: left; }

/* line 16, ../../scss/classes.scss */
.float-right {
  float: right; }

/* line 19, ../../scss/classes.scss */
.font-size18 {
  font-size: 18px; }

/* line 22, ../../scss/classes.scss */
.font-size24 {
  font-size: 24px; }

/* line 1, ../../scss/layout.scss */
body, html {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'MyriadProCond';
  src: url("../fonts/MyriadProCond.eot");
  src: url("../fonts/MyriadProCond.eot") format("embedded-opentype"), url("../fonts/MyriadProCond.woff2") format("woff2"), url("../fonts/MyriadProCond.woff") format("woff"), url("../fonts/MyriadProCond.ttf") format("truetype"), url("../fonts/MyriadProCond.svg#MyriadProCond") format("svg"); }

@font-face {
  font-family: 'MyriadProIt';
  src: url("../fonts/MyriadProIt.eot");
  src: url("../fonts/MyriadProIt.eot") format("embedded-opentype"), url("../fonts/MyriadProIt.woff2") format("woff2"), url("../fonts/MyriadProIt.woff") format("woff"), url("../fonts/MyriadProIt.ttf") format("truetype"), url("../fonts/MyriadProIt.svg#MyriadProIt") format("svg"); }

@font-face {
  font-family: 'MyriadProBold';
  src: url("../fonts/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold.eot") format("embedded-opentype"), url("../fonts/MyriadProBold.woff2") format("woff2"), url("../fonts/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold.ttf") format("truetype"), url("../fonts/MyriadProBold.svg#MyriadProBold") format("svg"); }

@font-face {
  font-family: 'MyriadProRegular';
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot") format("embedded-opentype"), url("../fonts/MyriadProRegular.woff2") format("woff2"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype"), url("../fonts/MyriadProRegular.svg#MyriadProRegular") format("svg"); }

@font-face {
  font-family: 'BookAntiqueRegular';
  src: url("../fonts/BookAntiqueRegular.eot");
  src: url("../fonts/BookAntiqueRegular.eot") format("embedded-opentype"), url("../fonts/BookAntiqueRegular.woff2") format("woff2"), url("../fonts/BookAntiqueRegular.woff") format("woff"), url("../fonts/BookAntiqueRegular.ttf") format("truetype"), url("../fonts/BookAntiqueRegular.svg#BookAntiqueRegular") format("svg"); }

@font-face {
  font-family: 'BookAntiqueBold';
  src: url("../fonts/BookAntiqueBold.eot");
  src: url("../fonts/BookAntiqueBold.eot") format("embedded-opentype"), url("../fonts/BookAntiqueBold.woff2") format("woff2"), url("../fonts/BookAntiqueBold.woff") format("woff"), url("../fonts/BookAntiqueBold.ttf") format("truetype"), url("../fonts/BookAntiqueBold.svg#BookAntiqueBold") format("svg"); }

@font-face {
  font-family: 'BookAntiqueItalic';
  src: url("../fonts/BookAntiqueItalic.eot");
  src: url("../fonts/BookAntiqueItalic.eot") format("embedded-opentype"), url("../fonts/BookAntiqueItalic.woff2") format("woff2"), url("../fonts/BookAntiqueItalic.woff") format("woff"), url("../fonts/BookAntiqueItalic.ttf") format("truetype"), url("../fonts/BookAntiqueItalic.svg#BookAntiqueItalic") format("svg"); }

@font-face {
  font-family: 'BookAntiqueItalicBold';
  src: url("../fonts/BookAntiqueItalicBold.eot");
  src: url("../fonts/BookAntiqueItalicBold.eot") format("embedded-opentype"), url("../fonts/BookAntiqueItalicBold.woff2") format("woff2"), url("../fonts/BookAntiqueItalicBold.woff") format("woff"), url("../fonts/BookAntiqueItalicBold.ttf") format("truetype"), url("../fonts/BookAntiqueItalicBold.svg#BookAntiqueItalicBold") format("svg"); }

/*@font-face {
  font-family: 'PTSansRegular';
  src: url('../fonts/pt_sans-web-regular-webfont.eot');
  src: url('../fonts/pt_sans-web-regular-webfont.eot') format('embedded-opentype'),
  url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
  url('../fonts/pt_sans-web-regular-webfont.woff') format('woff'),
  url('../fonts/pt_sans-web-regular-webfont.ttf') format('truetype'),
  url('../fonts/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/*
@font-face {
  font-family: 'pt_sansbold';
  src: url('../fonts/pt_sans-web-bold-webfont.eot');
  src: url('../fonts/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
  url('../fonts/pt_sans-web-bold-webfont.woff') format('woff'),
  url('../fonts/pt_sans-web-bold-webfont.ttf') format('truetype'),
  url('../fonts/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/*
@font-face {
  font-family: 'pt_sansitalic';
  src: url('../fonts/pt_sans-web-italic-webfont.eot');
  src: url('../fonts/pt_sans-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt_sans-web-italic-webfont.woff2') format('woff2'),
  url('../fonts/pt_sans-web-italic-webfont.woff') format('woff'),
  url('../fonts/pt_sans-web-italic-webfont.ttf') format('truetype'),
  url('../fonts/pt_sans-web-italic-webfont.svg#pt_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/*
@font-face {
  font-family: 'pt_sansbold_italic';
  src: url('../fonts/pt_sans-web-bolditalic-webfont.eot');
  src: url('../fonts/pt_sans-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/pt_sans-web-bolditalic-webfont.woff') format('woff'),
  url('../fonts/pt_sans-web-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/pt_sans-web-bolditalic-webfont.svg#pt_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/* line 134, ../../scss/default.scss */
#ask-specialist {
  background: url("../images/sources/ask-specialist.png");
  background-position: 15px 13px; }

/* line 138, ../../scss/default.scss */
#banner {
  height: 201px;
  position: relative; }

/* line 143, ../../scss/default.scss */
#cards {
  font-size: 0;
  margin-right: 7%; }
  @media (max-width: 1024px) {
    /* line 143, ../../scss/default.scss */
    #cards {
      margin-right: 3%; } }
  @media (max-width: 1024px) {
    /* line 143, ../../scss/default.scss */
    #cards {
      display: none; } }

@media (max-width: 1024px) {
  /* line 153, ../../scss/default.scss */
  #copyright {
    background-color: #000000;
    color: white; } }

/* line 160, ../../scss/default.scss */
#discount {
  font-family: BookAntiqueItalic; }

/* line 163, ../../scss/default.scss */
#discount1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: BookAntiqueItalic;
  font-size: 18px;
  margin-top: -4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=21);
  opacity: 0.21;
  padding-right: 77px;
  text-align: right;
  -webkit-transform: scale(1.25, 1.1);
  -moz-transform: scale(1.25, 1.1);
  -ms-transform: scale(1.25, 1.1);
  -o-transform: scale(1.25, 1.1);
  transform: scale(1.25, 1.1); }

/* line 173, ../../scss/default.scss */
#discount2 {
  margin-top: -14px; }

/* line 176, ../../scss/default.scss */
#discount-more {
  display: table;
  margin: auto; }

/* line 180, ../../scss/default.scss */
#email {
  clear: both;
  color: #333333;
  float: right;
  font-family: tahoma;
  font-size: 13.4px;
  font-weight: bold;
  margin-right: -9px;
  margin-top: -2px;
  transform: scaleX(0.9); }
  /* line 190, ../../scss/default.scss */
  #email::before {
    content: "info@visavi-salon.spb.ru"; }

/* line 194, ../../scss/default.scss */
#first-visit {
  color: #333333;
  font-size: 14px;
  margin-left: 3px; }

/* line 199, ../../scss/default.scss */
#make-appointment {
  background: url("../images/sources/make-appointment.png");
  background-position: 13px 11px; }

/* line 203, ../../scss/default.scss */
#make-gift {
  background: url("../images/sources/make-gift.png");
  background-position: 13px 10px; }

/* line 207, ../../scss/default.scss */
#page {
  background-color: white;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 1100px; }
  @media (max-width: 1024px) {
    /* line 207, ../../scss/default.scss */
    #page {
      max-width: 1007px; } }

/* line 216, ../../scss/default.scss */
#phones {
  float: right;
  clear: both; }

/* line 220, ../../scss/default.scss */
#roof {
  height: 34px;
  border-bottom: solid 1px #e1e1e1; }

/* line 224, ../../scss/default.scss */
#slider {
  background: url("../images/sources/banner.jpg");
  height: 100%;
  position: relative; }

/* line 229, ../../scss/default.scss */
#slider-controls {
  bottom: 15px;
  left: 28.1%;
  position: absolute; }

/* line 234, ../../scss/default.scss */
#social {
  height: 34px;
  margin: 2px 0; }
  @media (min-width: 1024px) {
    /* line 234, ../../scss/default.scss */
    #social {
      display: none; } }

/* line 241, ../../scss/default.scss */
#visavi {
  background: url("../images/sources/logotype.png") no-repeat 3.2% 17px;
  height: 107px;
  border-bottom: solid 1px #e1e1e1; }

@media (max-width: 320px) {
  /* line 248, ../../scss/default.scss */
  #banner, #roof, #visavi {
    display: none; } }
