@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
/* default sass file */
/* line 3, ../../_dev/scss/tags.scss */
a.active {
  color: #e42c52 !important;
  text-transform: uppercase;
}
/* line 7, ../../_dev/scss/tags.scss */
#banner > div:not(#slider) > a {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
/* line 14, ../../_dev/scss/tags.scss */
#cards a {
  background-image: url("../images/sources/cards-wifi.png");
  background-position-y: 6px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100%;
}
/* line 22, ../../_dev/scss/tags.scss */
#cards a:nth-child(1) {
  background-position-x: 0;
  margin-right: 5px;
  width: 44px;
}
/* line 27, ../../_dev/scss/tags.scss */
#cards a:nth-child(2) {
  background-position-x: -49px;
  margin-right: 19px;
  width: 37px;
}
/* line 32, ../../_dev/scss/tags.scss */
#cards a:nth-child(3) {
  background-position-x: -105px;
  width: 36px;
}
/* line 37, ../../_dev/scss/tags.scss */
#discount-to-all-first-time a {
  background-color: #d82348;
  border: solid 1px #e4657f;
  -webkit-box-shadow: 0 0 0 3px #d82348;
  -moz-box-shadow: 0 0 0 3px #d82348;
  box-shadow: 0 0 0 3px #d82348;
  color: white;
  display: block;
  float: right;
  font: 14px/32px BookAntiqueItalicBold;
  /**
  40px      - см. высоту #discount-to-all-first-time
  минус 3*2 - розовая рамка вне границы
  минус 1*2      - допуск на границу */
  height: 32px;
  margin-right: 3px;
  margin-top: 3px;
  text-align: center;
  text-decoration: none;
  width: 151px;
}
/* line 56, ../../_dev/scss/tags.scss */
#discount-more > a {
  float: left;
  font-size: 12px;
  margin-top: 3px;
}
/* line 61, ../../_dev/scss/tags.scss */
#join-us a {
  display: inline-block;
  margin-right: 6px;
  margin-top: 3px;
  vertical-align: middle;
}
/* line 68, ../../_dev/scss/tags.scss */
#left-side a, #right-side a {
  border-bottom: solid 1px #e1e1e1;
  display: block;
  font-family: Tahoma, Arial, sans-serif;
  height: 43px;
  line-height: 43px;
  text-decoration: none;
}
/* line 76, ../../_dev/scss/tags.scss */
#left-side a:hover, #right-side a:hover {
  background-color: white;
}
/* line 80, ../../_dev/scss/tags.scss */
#left-side a {
  color: #e42c52;
  font-size: 13px;
  padding: 0 16px;
  text-transform: uppercase;
}
/* line 86, ../../_dev/scss/tags.scss */
.breadcrumbs a {
  background: url("../images/sources/home.png") no-repeat 6px 4px;
  color: #999;
  display: table;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  padding-left: 26px;
}
/* line 94, ../../_dev/scss/tags.scss */
#page-actions h4 a {
  color: #e42c52;
  font-family: BookAntiqueItalicBold;
  font-size: 16px;
}
/* line 100, ../../_dev/scss/tags.scss */
#right-side a, .left-panel a {
  background: url(../images/sources/arrow-right-gray-small.png) no-repeat 12px 20px;
  color: #333333;
  font-size: 12px;
  padding: 0 30px;
}
/* line 106, ../../_dev/scss/tags.scss */
.left-panel a {
  background-position: 0 13px;
  display: block;
  font-family: Tahoma, Arial, sans-serif;
  padding-bottom: 8px;
  padding-left: 19px;
  padding-top: 8px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 115, ../../_dev/scss/tags.scss */
.left-panel a:hover {
  background-image: url(../images/sources/arrow-right-pink-small.png);
  color: #e42c52 !important;
}
/* line 121, ../../_dev/scss/tags.scss */
#left-side aside a, #right-side aside a {
  background-repeat: no-repeat;
  border-bottom: none;
  color: white;
  display: block;
  height: 44px;
  font-family: Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 132, ../../_dev/scss/tags.scss */
#left-side aside a {
  background-image: url("../images/sources/ask-specialist.png");
  background-position: 10px;
  font-size: 12px;
  font-weight: bold;
  padding-left: 48px;
}
/* line 139, ../../_dev/scss/tags.scss */
#right-side aside a {
  background-image: url("../images/sources/make-gift.png");
  background-position: 14px 10px;
  padding-left: 50px;
  font-size: 13px;
}
/* line 145, ../../_dev/scss/tags.scss */
#right-side menu a:hover {
  background-color: white;
}
/* line 148, ../../_dev/scss/tags.scss */
#roof menu a {
  color: #333333;
  display: block;
  font-family: MyriadProRegular;
  font-size: 13.8px;
  height: 34px;
  line-height: 34px;
  padding: 0 13.2%;
  text-decoration: none;
  white-space: nowrap;
}
@media (max-width: 768px) {
  /* line 148, ../../_dev/scss/tags.scss */
  #roof menu a {
    padding-left: 8%;
    padding-right: 8%;
  }
}
/* line 163, ../../_dev/scss/tags.scss */
#roof menu a:hover {
  text-decoration: underline;
}
/* line 167, ../../_dev/scss/tags.scss */
#roof div:nth-child(3) a {
  display: inline-block;
}
/* line 171, ../../_dev/scss/tags.scss */
#waiting-you-for-coming a {
  background: url("../images/sources/make-appointment.png") #e42c52 no-repeat 14px;
  color: white;
  display: table;
  float: right;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  height: 44px;
  padding-left: 51px;
  text-decoration: none;
  text-transform: uppercase;
  width: 202px;
}
/* line 184, ../../_dev/scss/tags.scss */
#welcome > div > aside > a {
  background: #000;
  border-radius: 50%;
  bottom: 15px;
  color: #FFF;
  display: block;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
  height: 78px;
  position: absolute;
  right: 19px;
  text-align: center;
  text-decoration: none;
  width: 78px;
}
/* line 201, ../../_dev/scss/tags.scss */
footer.desktop menu a {
  color: #ccc;
  font-family: MyriadProRegular;
  font-size: 13px;
  text-decoration: none;
  white-space: nowrap;
}
/* line 208, ../../_dev/scss/tags.scss */
footer.mobile div a {
  color: #333333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 47px;
}
/* line 215, ../../_dev/scss/tags.scss */
nav a {
  background-color: #e42c52;
  background-position: center 18px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 100%;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  width: 14.286%;
}
@media (min-width: 480px) {
  /* line 215, ../../_dev/scss/tags.scss */
  nav a {
    text-align: center;
  }
}
@media (min-width: 481px) {
  /* line 229, ../../_dev/scss/tags.scss */
  nav a:not(:last-child) {
    border-right: solid 1px #eb6581;
  }
}
/* line 233, ../../_dev/scss/tags.scss */
nav a:hover {
  background-color: #d82348;
}
/* line 236, ../../_dev/scss/tags.scss */
nav a:nth-child(1) {
  background-image: url("../images/sources/menu-hairs-care.png");
}
/* line 239, ../../_dev/scss/tags.scss */
nav a:nth-child(2) {
  background-image: url("../images/sources/menu-limbs-care.png");
}
/* line 242, ../../_dev/scss/tags.scss */
nav a:nth-child(3) {
  background-image: url("../images/sources/menu-face-care.png");
}
/* line 245, ../../_dev/scss/tags.scss */
nav a:nth-child(4) {
  background-image: url("../images/sources/menu-body-care.png");
}
/* line 248, ../../_dev/scss/tags.scss */
nav a:nth-child(5) {
  background-image: url("../images/sources/menu-laser-epilation.png");
}
/* line 251, ../../_dev/scss/tags.scss */
nav a:nth-child(6) {
  background-image: url("../images/sources/menu-injection-cosmetic.png");
}
/* line 254, ../../_dev/scss/tags.scss */
nav a:nth-child(7) {
  background-image: url("../images/sources/menu-apparatus-cosmetic.png");
}
@media (max-width: 480px) {
  /* line 215, ../../_dev/scss/tags.scss */
  nav a {
    background-position: 5px;
    background-size: 29px 33px;
    -webkit-box-shadow: 0 0 0 1px rgba(200, 200, 200, 0.3);
    -moz-box-shadow: 0 0 0 1px rgba(200, 200, 200, 0.3);
    box-shadow: 0 0 0 1px rgba(200, 200, 200, 0.3);
    display: none;
    height: 42px;
    text-align: left;
    width: 43px;
  }
}

/* line 271, ../../_dev/scss/tags.scss */
#left-side aside, #right-side aside {
  background-color: #cf1f43;
}
/* line 274, ../../_dev/scss/tags.scss */
#roof-mobile aside {
  float: right;
  height: 15px;
  margin-right: 15px;
  margin-top: 16px;
  width: 20px;
}
/* line 281, ../../_dev/scss/tags.scss */
#welcome aside {
  background: url("../images/sources/1280_default/3-d-tour.jpg");
  float: right;
  height: 200px;
  margin-top: -49px;
  position: relative;
  width: 362px;
}

/* line 290, ../../_dev/scss/tags.scss */
body {
  background-image: url("../images/backgrounds/bg.jpg");
}

/* line 295, ../../_dev/scss/tags.scss */
#roof button {
  background-color: #000;
  border: none;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  height: 26px;
  text-align: center;
  width: 50px;
}

/* line 306, ../../_dev/scss/tags.scss */
div {
  /* FOOTER --------------------------------------------------- */
  /* Конец FOOTER'а ------------------------------------------- */
  /* NAV ------------------------------------------------------ */
  /* Конец NAV'а ------------------------------------------- */
}
/* line 307, ../../_dev/scss/tags.scss */
#all-services > div {
  color: white;
  float: left;
  height: 100%;
  text-align: center;
}
/* line 313, ../../_dev/scss/tags.scss */
#all-services > div:first-child {
  background-color: #d82348;
  border-right: solid 1px #ef6784;
  cursor: pointer;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  width: 24%;
}
/* line 321, ../../_dev/scss/tags.scss */
#all-services > div:first-child:hover {
  background-color: #de6780;
}
/* line 325, ../../_dev/scss/tags.scss */
#all-services > div:last-child {
  width: 76%;
}
/* line 330, ../../_dev/scss/tags.scss */
#banner > div:not(#slider) {
  background-size: cover;
  height: 46px;
  position: absolute;
  right: 30px;
  width: 201px;
}
@media (max-width: 1024px) {
  /* line 330, ../../_dev/scss/tags.scss */
  #banner > div:not(#slider) {
    right: 20px;
  }
}
/* line 339, ../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(2) {
  background-color: #ff7a95;
  top: 15px;
}
/* line 342, ../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(2):hover {
  background-image: url("../images/sources/hover-make-appointment.jpg");
}
/* line 346, ../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(3) {
  background-color: #ee4c90;
  top: 77px;
}
/* line 349, ../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(3):hover {
  background-image: url("../images/sources/hover-make-gift.jpg");
}
/* line 353, ../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(4) {
  background-color: #8d0e29;
  top: 139px;
}
/* line 356, ../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(4):hover {
  background-image: url("../images/sources/hover-ask-specialist.jpg");
}
/* line 361, ../../_dev/scss/tags.scss */
#banner > div:not(#slider) > a > div {
  padding-left: 52px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 367, ../../_dev/scss/tags.scss */
#slider-controls > div {
  color: red;
  padding-top: 5px;
  border: solid 1px #e1e1e1;
  color: #9c9c9c;
  float: left;
  font-size: 13px;
  height: 27px;
  margin: auto 3px;
  text-align: center;
  width: 28px;
}
/* line 379, ../../_dev/scss/tags.scss */
#slider-controls > div:hover {
  color: #ff7a95;
  cursor: pointer;
}
/* line 384, ../../_dev/scss/tags.scss */
#slider-controls > div:nth-child(2) {
  font-size: 21px;
  line-height: 20px;
  padding-top: 0;
}
/* line 390, ../../_dev/scss/tags.scss */
#phones div {
  float: right;
}
/* line 392, ../../_dev/scss/tags.scss */
#phones div:nth-child(1) {
  color: #333333;
  background: url("../images/sources/mobila.png") no-repeat;
  font-family: BookAntiqueBold;
  font-size: 19px;
  margin-top: 5px;
  padding-left: 18px;
  background-position-y: 3px;
}
/* line 395, ../../_dev/scss/tags.scss */
#phones div:nth-child(2) {
  color: #333333;
  background: url("../images/sources/mobila.png") no-repeat;
  font-family: BookAntiqueBold;
  font-size: 19px;
  margin-top: 5px;
  padding-left: 18px;
  background-position-y: 3px;
  margin-right: 20px;
}
/* line 399, ../../_dev/scss/tags.scss */
#phones div:nth-child(3) {
  font-family: 'PT Sans';
  font-size: 13px;
  margin-top: 4px;
}
/* line 405, ../../_dev/scss/tags.scss */
#roof > div {
  float: right;
  height: 100%;
}
/* line 409, ../../_dev/scss/tags.scss */
#roof > div:nth-child(2) {
  margin-right: 30px;
}
@media (max-width: 1024px) {
  /* line 409, ../../_dev/scss/tags.scss */
  #roof > div:nth-child(2) {
    margin-right: 20px;
  }
}
/* line 417, ../../_dev/scss/tags.scss */
#visavi > div:nth-child(1) {
  float: left;
  margin-left: 26.2%;
  margin-top: 33px;
}
/* line 425, ../../_dev/scss/tags.scss */
#visavi > div:nth-child(2) {
  float: right;
  margin-right: 30px;
  margin-top: 24px;
}
@media (max-width: 1024px) {
  /* line 425, ../../_dev/scss/tags.scss */
  #visavi > div:nth-child(2) {
    margin-right: 20px;
  }
}
/* line 437, ../../_dev/scss/tags.scss */
#welcome > div {
  border: solid 1px #e4e4e4;
  margin-top: 11px;
  padding: 26px 0 10px 28px;
}
/* line 442, ../../_dev/scss/tags.scss */
#welcome > div > div {
  padding-right: 393px;
}
/* line 446, ../../_dev/scss/tags.scss */
.black-substrate > div:first-child {
  color: white;
  line-height: 26px;
  position: absolute;
  padding: 0 24px;
  z-index: 1;
}
/* line 453, ../../_dev/scss/tags.scss */
.black-substrate > div:last-child {
  color: #000;
  background: #000;
  height: 26px;
  opacity: 0.65;
  padding: 0 24px;
  position: absolute;
  z-index: 0;
}
/* line 467, ../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(1) {
  font-family: BookAntiqueItalic;
  height: 34px;
  text-align: center;
}
/* line 473, ../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(2) {
  background-color: #000000;
  height: 78px;
  margin-top: 2px;
}
/* line 479, ../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(3) {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  height: 34px;
  line-height: 34px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1024px) {
  /* line 479, ../../_dev/scss/tags.scss */
  footer.desktop > div:nth-child(3) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  /* line 493, ../../_dev/scss/tags.scss */
  footer.desktop > div:nth-child(1), footer.desktop > div:nth-child(2) {
    display: none;
  }
}
/* line 498, ../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(1) {
  border-top: solid 1px #E4E4E4;
}
/* line 502, ../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(1) > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -2px;
}
/* line 507, ../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(2) > div {
  float: left;
    /*&:nth-child(2) {

    }*/
}
/* line 510, ../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(2) > div:nth-child(1) {
  background-color: brown;
  background: url("../images/sources/logotype-bottom.png") no-repeat center;
  height: 100%;
  margin-right: 2.8%;
  width: 25%;
}
/* line 523, ../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(2) > div:nth-child(3) {
  float: right;
  margin-right: 2.9%;
  white-space: nowrap;
}
/* line 529, ../../_dev/scss/tags.scss */
footer.mobile div {
  float: left;
  margin-left: 16px;
}
/* line 536, ../../_dev/scss/tags.scss */
nav > a > div {
  position: absolute;
}
@media (min-width: 480px) {
  /* line 536, ../../_dev/scss/tags.scss */
  nav > a > div {
    bottom: 0;
    height: 53px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 536, ../../_dev/scss/tags.scss */
  nav > a > div {
    background-color: white;
    border-bottom: solid 1px rgba(100, 100, 100, 0.15);
    color: #e42c52;
    height: 41px;
    left: 42px;
    right: 0;
    padding-left: 23px;
    text-transform: uppercase;
    width: 480px;
  }
}
@media (max-width: 480px) {
  /* line 556, ../../_dev/scss/tags.scss */
  nav > a:first-child > div {
    border-top: solid 1px rgba(100, 100, 100, 0.15);
  }
}
/* line 561, ../../_dev/scss/tags.scss */
nav > a > div > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
}
@media (min-width: 481px) {
  /* line 561, ../../_dev/scss/tags.scss */
  nav > a > div > div {
    max-width: 126px;
  }
}

/* line 571, ../../_dev/scss/tags.scss */
footer.mobile {
  background-color: white;
  border-top: solid 1px #e1e1e1;
  height: 47px;
}
@media (max-width: 480px) {
  /* line 571, ../../_dev/scss/tags.scss */
  footer.mobile {
    display: block;
  }
}
@media (min-width: 481px) {
  /* line 571, ../../_dev/scss/tags.scss */
  footer.mobile {
    display: none;
  }
}
@media (min-width: 480px) {
  /* line 582, ../../_dev/scss/tags.scss */
  footer.desktop {
    display: block;
  }
}
@media (max-width: 480px) {
  /* line 582, ../../_dev/scss/tags.scss */
  footer.desktop {
    display: none;
  }
}

/* line 592, ../../_dev/scss/tags.scss */
#roof form {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 597, ../../_dev/scss/tags.scss */
#roof-mobile h1 {
  color: #e42c52;
  float: left;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 18px auto auto 43.3%;
  text-transform: uppercase;
}

/* line 608, ../../_dev/scss/tags.scss */
#page-actions h4 {
  margin-top: -4px;
  margin-bottom: 15px;
}
/* line 612, ../../_dev/scss/tags.scss */
.left-panel h4 {
  color: #333333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

/* line 620, ../../_dev/scss/tags.scss */
#roof-mobile aside hr {
  background-color: #cc3366;
  border: none;
  height: 3px;
  margin: 0;
  margin-bottom: 3px;
}
/* line 626, ../../_dev/scss/tags.scss */
#roof-mobile aside hr:last-child {
  margin-bottom: 0;
}

/* line 632, ../../_dev/scss/tags.scss */
#social img {
  margin-left: 1px;
}
/* line 637, ../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(2)
> div:nth-child(3) > img:first-child {
  margin-left: -8.5%;
  margin-right: 8.5%;
}
/* line 642, ../../_dev/scss/tags.scss */
footer.mobile img {
  float: right;
  margin: 10px 16px;
}

/* line 648, ../../_dev/scss/tags.scss */
#waiting-you i {
  margin-bottom: 18px;
}
/* line 651, ../../_dev/scss/tags.scss */
#waiting-you > .half-wide:first-child i {
  margin-top: 11px;
}
/* line 654, ../../_dev/scss/tags.scss */
#welcome i {
  margin: 4px auto auto 30px;
}

/* line 659, ../../_dev/scss/tags.scss */
#roof input {
  height: 26px;
  margin-right: -4px;
  padding-left: 5px;
  width: 150px;
}

/* line 667, ../../_dev/scss/tags.scss */
li {
  display: table-cell;
}
/* line 670, ../../_dev/scss/tags.scss */
#right-side li, .left-panel li {
  display: block;
}
/* line 673, ../../_dev/scss/tags.scss */
footer.desktop li {
  padding: 4px 1.95%;
}
/* line 676, ../../_dev/scss/tags.scss */
ul.block li {
  display: list-item;
}
/* line 679, ../../_dev/scss/tags.scss */
ul.curly li {
  background: url("../images/sources/curly-single-pink.png") no-repeat;
  background-position: 0 5px;
  color: #231f20;
  display: block;
  font: 13px Tahoma, Arial, sans-serif;
}
/* line 686, ../../_dev/scss/tags.scss */
#services-kinds li {
  line-height: 18px;
  padding-left: 19px;
}
/* line 690, ../../_dev/scss/tags.scss */
#waiting-you ul.curly li {
  font-weight: bold;
  line-height: 23px;
  padding-left: 17px;
}

/* line 696, ../../_dev/scss/tags.scss */
main {
  margin-bottom: 58px;
  padding-top: 0;
}
@media (max-width: 480px) {
  /* line 696, ../../_dev/scss/tags.scss */
  main {
    padding: 15px 15px 0 15px;
  }
}
@media (min-width: 480px) {
  /* line 696, ../../_dev/scss/tags.scss */
  main {
    padding: 15px 30px 0 30px;
  }
}

/* line 708, ../../_dev/scss/tags.scss */
menu {
  display: table;
  margin: 0;
  padding: 0;
}
/* line 714, ../../_dev/scss/tags.scss */
footer.desktop menu {
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 718, ../../_dev/scss/tags.scss */
.left-panel menu {
  margin-top: 12px;
}
/* line 721, ../../_dev/scss/tags.scss */
#right-side menu {
  display: block;
}
/* line 724, ../../_dev/scss/tags.scss */
#roof menu {
  float: left;
  margin-left: 24px;
}

@media (min-width: 481px) {
  /* line 729, ../../_dev/scss/tags.scss */
  nav {
    background-color: #e42c52;
    display: table;
    height: 119px;
    position: relative;
    width: 100%;
  }
}

/* line 739, ../../_dev/scss/tags.scss */
p {
  font: 13px/18px Tahoma, Arial, sans-serif;
  margin-bottom: 18px;
}
/* line 742, ../../_dev/scss/tags.scss */
#our-advantages .half-wide p {
  margin-top: 83px;
}
/* line 746, ../../_dev/scss/tags.scss */
#page-action p.banner {
  background: url("../images/sources/1280_action/discount.jpg") no-repeat;
  padding-top: 202px;
}
/* line 751, ../../_dev/scss/tags.scss */
#page-actions p {
  background-repeat: no-repeat;
  background-position: 0 4px;
  line-height: 18px;
  margin-bottom: 20px;
  margin-top: -5px;
  padding-left: 247px;
}
/* line 758, ../../_dev/scss/tags.scss */
#page-actions p:nth-child(3) {
  background-image: url("../images/sources/1280_actions/discount50.jpg");
}
/* line 761, ../../_dev/scss/tags.scss */
#page-actions p:nth-child(5) {
  background-image: url("../images/sources/1280_actions/sertificates-sale.jpg");
}
/* line 764, ../../_dev/scss/tags.scss */
#page-actions p:nth-child(7) {
  background-image: url("../images/sources/1280_actions/contour-plastics-sale.jpg");
}
/* line 767, ../../_dev/scss/tags.scss */
#page-actions p:nth-child(9) {
  background-image: url("../images/sources/1280_actions/lpg-sale.jpg");
}
/* line 770, ../../_dev/scss/tags.scss */
#page-actions p:nth-child(11) {
  background-image: url("../images/sources/1280_actions/rf-lifting-sale.jpg");
}
/* line 774, ../../_dev/scss/tags.scss */
#welcome p {
  margin: 18px auto 14px;
}

/* line 778, ../../_dev/scss/tags.scss */
section {
  overflow: auto;
}
/* line 780, ../../_dev/scss/tags.scss */
#all-services section {
  display: inline-block;
}

/* line 785, ../../_dev/scss/tags.scss */
#all-services div span {
  display: table;
}
/* line 790, ../../_dev/scss/tags.scss */
#all-services div:last-child span:first-child {
  font-family: BookAntiqueItalicBold;
  font-size: 14px;
  line-height: 19px;
  margin-right: 10px;
}
/* line 796, ../../_dev/scss/tags.scss */
#all-services div:last-child span:last-child {
  font-family: BookAntiqueBold;
  font-size: 17px;
}
/* line 801, ../../_dev/scss/tags.scss */
#discount-more span {
  background: url("../images/sources/curly-more.png") no-repeat;
}
/* line 803, ../../_dev/scss/tags.scss */
#discount-more span:first-child {
  float: left;
  height: 18px;
  margin-left: 8px;
  margin-right: -1px;
  margin-top: 2px;
  width: 11px;
}
/* line 811, ../../_dev/scss/tags.scss */
#discount-more span:last-child {
  background-position-x: -68px;
  float: left;
  height: 20px;
  margin-top: 3px;
  width: 10px;
}
/* line 819, ../../_dev/scss/tags.scss */
#discount2 span:first-child span {
  margin-left: 2px;
}
/* line 822, ../../_dev/scss/tags.scss */
#join-us span {
  color: #e42c52;
  font-family: BookAntiqueItalicBold;
  font-size: 14px;
  height: 100%;
  line-height: 44px;
  margin-right: 32px;
}
/* line 832, ../../_dev/scss/tags.scss */
#slider-controls > div:first-child span, #slider-controls > div:last-child span {
  display: block;
  -webkit-transform: scaleX(0.8);
  -moz-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  -o-transform: scaleX(0.8);
  transform: scaleX(0.8);
}
/* line 836, ../../_dev/scss/tags.scss */
#welcome aside > a span {
  display: block;
}
/* line 838, ../../_dev/scss/tags.scss */
#welcome aside > a span:nth-child(1) {
  font-size: 24px;
  margin-bottom: -5px;
  margin-top: 8px;
}
/* line 843, ../../_dev/scss/tags.scss */
#welcome aside > a span:nth-child(2) {
  font-size: 14px;
}
/* line 848, ../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(1)
> div > span {
  color: #333333;
  font-size: 14px;
}
/* line 851, ../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(1)
> div > span:nth-child(1) {
  color: #e42c52;
}
/* line 855, ../../_dev/scss/tags.scss */
ul.color-pink span {
  color: #333333;
}

/* line 860, ../../_dev/scss/tags.scss */
#welcome strong {
  line-height: 18px;
}

/* line 864, ../../_dev/scss/tags.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 868, ../../_dev/scss/tags.scss */
#page-action ul.color-pink {
  margin-bottom: 18px;
  margin-left: 15px;
}
/* line 873, ../../_dev/scss/tags.scss */
#waiting-you ul {
  margin-left: 10px;
}

/* line 2, ../../_dev/scss/classes.scss */
.accented-pink {
  color: #e42c52;
}

/* line 5, ../../_dev/scss/classes.scss */
.antique-italic {
  font-family: BookAntiqueItalic;
}

/* line 8, ../../_dev/scss/classes.scss */
.antique-italic-bold {
  font-family: BookAntiqueItalicBold;
}

/* line 11, ../../_dev/scss/classes.scss */
.black-substrate {
  font-family: tahoma;
  font-size: 14px;
  position: relative;
  top: 8px;
  text-transform: uppercase;
}

/* line 18, ../../_dev/scss/classes.scss */
.breadcrumbs {
  left: 279px;
  position: absolute;
  top: -12px;
}

/* line 23, ../../_dev/scss/classes.scss */
.centered-vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 26, ../../_dev/scss/classes.scss */
.clear-both {
  clear: both;
}

/* line 29, ../../_dev/scss/classes.scss */
.color-dark {
  color: #333333;
}

/* line 32, ../../_dev/scss/classes.scss */
.color-pink {
  color: #e42c52;
}

/* line 35, ../../_dev/scss/classes.scss */
.first {
  margin-bottom: 22px;
  padding-top: 22px;
}

/* line 39, ../../_dev/scss/classes.scss */
.float-left {
  float: left;
}

/* line 42, ../../_dev/scss/classes.scss */
.float-right {
  float: right;
}

/* line 45, ../../_dev/scss/classes.scss */
.font-size18 {
  font-size: 18px;
}

/* line 48, ../../_dev/scss/classes.scss */
.font-size24 {
  font-size: 24px;
}

/* line 51, ../../_dev/scss/classes.scss */
.half-wide {
  background-repeat: no-repeat !important;
  float: left;
  width: 50%;
  /*&:nth-child(odd){
    background-color: lemonchiffon;
  }*/
}
/* line 55, ../../_dev/scss/classes.scss */
.half-wide:nth-child(even) {
  padding-left: 13px;
}
/* line 61, ../../_dev/scss/classes.scss */
#our-advantages .half-wide {
  margin-top: 11px;
}
/* line 64, ../../_dev/scss/classes.scss */
#our-advantages .half-wide:nth-child(even) {
  background-position-x: 13px !important;
}
/* line 67, ../../_dev/scss/classes.scss */
#our-advantages .half-wide:nth-child(1) {
  background: url("../images/sources/1280_default/hospitality.jpg");
}
/* line 70, ../../_dev/scss/classes.scss */
#our-advantages .half-wide:nth-child(2) {
  background: url("../images/sources/1280_default/safety.jpg");
}
/* line 73, ../../_dev/scss/classes.scss */
#our-advantages .half-wide:nth-child(3) {
  background: url("../images/sources/1280_default/good-prices.jpg");
}
/* line 76, ../../_dev/scss/classes.scss */
#our-advantages .half-wide:nth-child(4) {
  background: url("../images/sources/1280_default/money-back.jpg");
}

/* line 80, ../../_dev/scss/classes.scss */
.hide-menus {
  transform: translateX(-33.33%);
}

/* line 83, ../../_dev/scss/classes.scss */
.italic {
  font-family: BookAntiqueItalic;
}
/* line 85, ../../_dev/scss/classes.scss */
.italic.bold {
  font-family: BookAntiqueItalicBold;
}
/* line 88, ../../_dev/scss/classes.scss */
.italic.first {
  font-size: 18px;
}

/* line 92, ../../_dev/scss/classes.scss */
.left-panel {
  float: left;
  margin-bottom: 58px;
  width: 254px;
}

/* line 97, ../../_dev/scss/classes.scss */
.loading {
  background-color: #87CEFA;
  border-radius: 16px;
  display: table;
  font-family: verdana;
  padding: 10px 20px;
}

/* line 104, ../../_dev/scss/classes.scss */
.pointer-right {
  margin-left: 10px;
}
/* line 106, ../../_dev/scss/classes.scss */
.pointer-right::before {
  content: '►';
}

/* line 111, ../../_dev/scss/classes.scss */
.pseudoheader,
.pseudoheader-gray {
  display: block;
  font-family: BookAntiqueItalicBold;
}

/* line 115, ../../_dev/scss/classes.scss */
.pseudoheader {
  color: #e42c52;
  font-size: 24px;
}

/* line 119, ../../_dev/scss/classes.scss */
.pseudoheader-gray {
  font-size: 18px;
  color: #333333;
}

/* line 123, ../../_dev/scss/classes.scss */
.show-left-menu {
  transform: translate(0);
}

/* line 126, ../../_dev/scss/classes.scss */
.show-right-menu {
  transform: translateX(-66.66%);
}

/* line 129, ../../_dev/scss/classes.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 2, ../../_dev/scss/layout.scss */
body, html {
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  /* line 6, ../../_dev/scss/layout.scss */
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 480px) {
  /* line 13, ../../_dev/scss/layout.scss */
  #left-side,
  #page,
  #right-side {
    float: left;
  }
}

@font-face {
  font-family: 'MyriadProCond';
  src: url("../fonts/MyriadProCond.eot");
  src: url("../fonts/MyriadProCond.eot") format("embedded-opentype"), url("../fonts/MyriadProCond.woff2") format("woff2"), url("../fonts/MyriadProCond.woff") format("woff"), url("../fonts/MyriadProCond.ttf") format("truetype"), url("../fonts/MyriadProCond.svg#MyriadProCond") format("svg");
}

@font-face {
  font-family: 'MyriadProIt';
  src: url("../fonts/MyriadProIt.eot");
  src: url("../fonts/MyriadProIt.eot") format("embedded-opentype"), url("../fonts/MyriadProIt.woff2") format("woff2"), url("../fonts/MyriadProIt.woff") format("woff"), url("../fonts/MyriadProIt.ttf") format("truetype"), url("../fonts/MyriadProIt.svg#MyriadProIt") format("svg");
}

@font-face {
  font-family: 'MyriadProBold';
  src: url("../fonts/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold.eot") format("embedded-opentype"), url("../fonts/MyriadProBold.woff2") format("woff2"), url("../fonts/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold.ttf") format("truetype"), url("../fonts/MyriadProBold.svg#MyriadProBold") format("svg");
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot") format("embedded-opentype"), url("../fonts/MyriadProRegular.woff2") format("woff2"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype"), url("../fonts/MyriadProRegular.svg#MyriadProRegular") format("svg");
}

@font-face {
  font-family: 'BookAntiqueRegular';
  src: url("../fonts/BookAntiqueRegular.eot");
  src: url("../fonts/BookAntiqueRegular.eot") format("embedded-opentype"), url("../fonts/BookAntiqueRegular.woff2") format("woff2"), url("../fonts/BookAntiqueRegular.woff") format("woff"), url("../fonts/BookAntiqueRegular.ttf") format("truetype"), url("../fonts/BookAntiqueRegular.svg#BookAntiqueRegular") format("svg");
}

@font-face {
  font-family: 'BookAntiqueBold';
  src: url("../fonts/BookAntiqueBold.eot");
  src: url("../fonts/BookAntiqueBold.eot") format("embedded-opentype"), url("../fonts/BookAntiqueBold.woff2") format("woff2"), url("../fonts/BookAntiqueBold.woff") format("woff"), url("../fonts/BookAntiqueBold.ttf") format("truetype"), url("../fonts/BookAntiqueBold.svg#BookAntiqueBold") format("svg");
}

@font-face {
  font-family: 'BookAntiqueItalic';
  src: url("../fonts/BookAntiqueItalic.eot");
  src: url("../fonts/BookAntiqueItalic.eot") format("embedded-opentype"), url("../fonts/BookAntiqueItalic.woff2") format("woff2"), url("../fonts/BookAntiqueItalic.woff") format("woff"), url("../fonts/BookAntiqueItalic.ttf") format("truetype"), url("../fonts/BookAntiqueItalic.svg#BookAntiqueItalic") format("svg");
}

@font-face {
  font-family: 'BookAntiqueItalicBold';
  src: url("../fonts/BookAntiqueItalicBold.eot");
  src: url("../fonts/BookAntiqueItalicBold.eot") format("embedded-opentype"), url("../fonts/BookAntiqueItalicBold.woff2") format("woff2"), url("../fonts/BookAntiqueItalicBold.woff") format("woff"), url("../fonts/BookAntiqueItalicBold.ttf") format("truetype"), url("../fonts/BookAntiqueItalicBold.svg#BookAntiqueItalicBold") format("svg");
}

/* line 102, ../../_dev/scss/default.scss */
a,
article,
aside,
body,
footer,
header,
div,
li,
main,
menu,
nav,
p,
section,
span,
ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 106, ../../_dev/scss/default.scss */
#ask-specialist {
  background: url("../images/sources/ask-specialist.png");
  background-position: 15px 13px;
}

/* line 110, ../../_dev/scss/default.scss */
#banner {
  height: 201px;
  position: relative;
}

/* line 114, ../../_dev/scss/default.scss */
#block-social-nets {
  background: url("../images/sources/social-nets.png") no-repeat;
  float: right;
  height: 30px;
  margin-left: 22px;
  width: 341px;
}

/* line 122, ../../_dev/scss/default.scss */
#cards {
  font-size: 0;
  margin-right: 7%;
}
@media (max-width: 1024px) {
  /* line 122, ../../_dev/scss/default.scss */
  #cards {
    margin-right: 3%;
  }
}
@media (max-width: 1024px) {
  /* line 122, ../../_dev/scss/default.scss */
  #cards {
    display: none;
  }
}

/* line 132, ../../_dev/scss/default.scss */
#content {
  position: relative;
}
@media (min-width: 1025px) {
  /* line 132, ../../_dev/scss/default.scss */
  #content {
    padding-left: 286px;
  }
}

@media (max-width: 1024px) {
  /* line 138, ../../_dev/scss/default.scss */
  #copyright {
    background-color: #000000;
    color: white;
  }
}

/* line 145, ../../_dev/scss/default.scss */
#discount {
  display: none;
  font-family: BookAntiqueItalic;
}
@media (min-width: 1024px) {
  /* line 145, ../../_dev/scss/default.scss */
  #discount {
    display: block;
  }
}

/* line 153, ../../_dev/scss/default.scss */
#discount-to-all-first-time {
  background: url("../images/sources/1280_default/discount-first-figures.png") #e42c52 no-repeat 22px 14px;
  color: white;
  font: 18px/40px BookAntiqueItalicBold;
  height: 40px;
  margin-left: -30px;
  margin-top: 15px;
  padding-left: 63px;
}

/* line 163, ../../_dev/scss/default.scss */
#discount1 {
  font-family: BookAntiqueItalic;
  font-size: 18px;
  margin-top: -4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=21);
  opacity: 0.21;
  padding-right: 77px;
  text-align: right;
  -webkit-transform: scale(1.25, 1.1);
  -moz-transform: scale(1.25, 1.1);
  -ms-transform: scale(1.25, 1.1);
  -o-transform: scale(1.25, 1.1);
  transform: scale(1.25, 1.1);
}

/* line 173, ../../_dev/scss/default.scss */
#discount2 {
  margin-top: -14px;
}

/* line 176, ../../_dev/scss/default.scss */
#discount-more {
  display: table;
  margin: auto;
}

/* line 180, ../../_dev/scss/default.scss */
#email {
  clear: both;
  color: #333333;
  float: right;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 13.4px;
  font-weight: bold;
  margin-right: -9px;
  margin-top: -2px;
  transform: scaleX(0.9);
}
/* line 190, ../../_dev/scss/default.scss */
#email::before {
  content: "info@visavi-salon.spb.ru";
}

/* line 194, ../../_dev/scss/default.scss */
#first-visit {
  color: #333333;
  font-size: 14px;
  margin-left: 3px;
}

/* line 199, ../../_dev/scss/default.scss */
#join-us {
  display: none;
}

/* line 202, ../../_dev/scss/default.scss */
#header-advantages {
  margin: auto auto 11px 28px;
}

/* line 207, ../../_dev/scss/default.scss */
#header-achivement {
  background: url("../images/sources/our-achievements.png") no-repeat 0 43px;
  height: 324px;
  margin-top: 35px;
}

/* line 215, ../../_dev/scss/default.scss */
#header-actions-and-discounts,
#header-popular-services,
#header-care {
  margin-bottom: 12px;
  margin-top: 15px;
  padding: 0;
}

/* line 221, ../../_dev/scss/default.scss */
#header-actions {
  background: url("../images/sources/actions-and-discounts.png") no-repeat 0 43px;
  color: #e42c52;
  height: 372px;
  margin-top: 20px;
}

/* line 228, ../../_dev/scss/default.scss */
#license {
  background: url("../images/sources/1280_default/license.png") #fafafa no-repeat 99% 20px;
  border: double #EEE;
  display: block;
  font: 18px/18px BookAntiqueItalic;
  margin-top: 11px;
  padding: 14px 122px 13px 26px;
}

/* line 237, ../../_dev/scss/default.scss */
#left-side,
#right-side {
  background-color: #F5F6F5;
  display: none;
}

/* line 242, ../../_dev/scss/default.scss */
#left-side {
  min-width: 232px;
}

/* line 245, ../../_dev/scss/default.scss */
#like-it {
  float: right;
  font: 13px/27px Tahoma, Arial, sans-serif;
  font-weight: bold;
  margin-top: 19px;
}

/* line 251, ../../_dev/scss/default.scss */
#right-side {
  min-width: 200px;
}

/* line 254, ../../_dev/scss/default.scss */
#make-appointment {
  background: url("../images/sources/make-appointment.png");
  background-position: 13px 11px;
}

/* line 258, ../../_dev/scss/default.scss */
#make-gift {
  background: url("../images/sources/make-gift.png");
  background-position: 13px 10px;
}

/* line 262, ../../_dev/scss/default.scss */
#menu-right {
  cursor: pointer;
}

/* line 265, ../../_dev/scss/default.scss */
#page {
  background-color: white;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 1100px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  /* line 265, ../../_dev/scss/default.scss */
  #page {
    max-width: 1007px;
  }
}

/* line 275, ../../_dev/scss/default.scss */
#phones {
  float: right;
  clear: both;
}

/* line 279, ../../_dev/scss/default.scss */
#roof {
  background-color: #f7f7f7;
  border-bottom: solid 1px #e1e1e1;
  height: 34px;
  overflow: hidden;
}

/* line 285, ../../_dev/scss/default.scss */
#services-kinds {
  margin: 11px auto auto 9px;
}

/* line 288, ../../_dev/scss/default.scss */
#slider {
  background: url("../images/sources/banner.jpg");
  height: 100%;
  position: relative;
}

/* line 293, ../../_dev/scss/default.scss */
#slider-controls {
  bottom: 15px;
  left: 28.1%;
  position: absolute;
}

/* line 298, ../../_dev/scss/default.scss */
#social {
  height: 34px;
  margin: 2px 0;
}
@media (min-width: 1024px) {
  /* line 298, ../../_dev/scss/default.scss */
  #social {
    display: none;
  }
}

/* line 305, ../../_dev/scss/default.scss */
#visavi {
  background: url("../images/sources/logotype.png") no-repeat 3.2% 17px;
  height: 109px;
  border-bottom: solid 1px #e1e1e1;
}

/* line 312, ../../_dev/scss/default.scss */
#all-services,
#roof-mobile {
  display: none;
}

/* line 316, ../../_dev/scss/default.scss */
#all-services, #join-us {
  height: 44px;
}

/* line 319, ../../_dev/scss/default.scss */
#all-services {
  background-color: #e42c52;
}

/* line 322, ../../_dev/scss/default.scss */
#join-us {
  text-align: center;
}

/* line 325, ../../_dev/scss/default.scss */
#roof-mobile {
  background: url("../images/sources/logotype-mobile.png") no-repeat 15px 5px;
  height: 44px;
}

/* line 329, ../../_dev/scss/default.scss */
#waiting-you-for-coming {
  background: url("../images/sources/curly-pink_waiting-you.png") no-repeat 10px 16px;
  border: solid 1px #e42c52;
  font-size: 18px;
  line-height: 44px;
  margin: 29px auto;
  padding-left: 51px;
}

/* line 337, ../../_dev/scss/default.scss */
#waiting-you {
  margin-bottom: 6px;
  margin-top: 15px;
}

/* line 341, ../../_dev/scss/default.scss */
#welcome {
  color: #333333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 13px;
  margin-left: -30px;
}

@media (max-width: 480px) {
  /* line 348, ../../_dev/scss/default.scss */
  #banner, #roof, #visavi {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 354, ../../_dev/scss/default.scss */
  #all-services,
  #roof-mobile {
    display: block;
  }
}
