
<h4 id="header-care">Лазерная эпиляция</h4>
<menu>
  <li><a href="spb">лазерная эпиляция в спб</a></li>
  <li><a href="action"><span>акция</span>лазерная эпиляция по скидке всего за 299 рублей</a></li>
  <li><a href="bikini">лазерная эпиляция зоны бикини</a></li>
  <li><a href="armpits">лазерная эпиляция подмышек</a></li>
  <li><a href="limbs">лазерная эпиляция рук и ног</a></li>
  <li><a href="cut_hair">удаление волос на лице</a></li>
  <li><a href="men_epilation">лазерная эпиляция для мужчин</a></li>
  <li><a href="prices">цены на лазерную эпиляцию в спб</a></li>
</menu>