@charset "UTF-8";
/* default sass file */
@import "compass";
@import "variables";
@import "mixins";
@import "tags";
@import "fonts";
@import "classes";
@import "layout";
//--------------------------------------------------------
#ask-specialist{
  background: url($images_dir + "ask-specialist.png");
  background-position: 15px 13px;
}
#banner {
  height: 201px;
  position: relative;
}
#block-social-nets{
  background: url($images_dir + "social-nets.png") no-repeat;
  float: right;
  height: 30px;
  margin-left: 22px;
  width: 341px;
}
// Visa, MasterCard, Wifi
.moduletable-cards{
  font-size: 0;
  margin-right: 7%;
  *{
    height: 100%;
  }
  @media (max-width:1024px){
    margin-right: 3%;
  }
  @media (max-width:1024px){
    display: none;
  }
}
.moduletable-menu_top{
  float: left;
}
.moduletable-search{

}
#content{
  //position: relative;
  @media (min-width:$resolution_middle + 1){
    padding-left: 286px;
  }
}
#copyright{
  @media (max-width:1024px){
    background-color: #000000;
    color:white;
  }
}
// ---------------------
#discount{
  display: none;
  font-family: BookAntiqueItalic;
  @media (min-width:1024px){
    display: block;
  }
}
// Скидка 20% на услуги салона во время первого посещения
#discount-to-all-first-time{
  background: url($images_dir_1280 + "default/discount-first-figures.png") $background-menu-pink no-repeat 22px 14px;
  color: white;
  font: 18px/40px BookAntiqueItalicBold;
  height: 40px;
  margin-left: -$offset-common1280;
  margin-top: 15px;
  padding-left: 63px;
  //padding-right: 160px;
}
#discount1{

  font-family: BookAntiqueItalic;
  font-size: 18px;
  margin-top: -4px;
  @include opacity(0.21);
  padding-right: 77px;
  text-align: right;
  @include transform(scale(1.25,1.1));
}
#discount2{
  margin-top: -14px;
}
#discount-more{
  display: table;
  margin: auto;
}
#email{
  clear: both;
  color: $color-dark;
  float: right;
  font-family: $font-tahoma-family;
  font-size: 13.4px;
  font-weight: bold;
  margin-right: -9px;
  margin-top: -2px;
  transform: scaleX(0.9);
  &::before {
    content: "info@visavi-salon.spb.ru";
  }
}
#first-visit{
  color: $color-dark;
  font-size: 14px;
  margin-left: 3px;
}
#join-us{
  display: none; // присваивается значение block клиентским скриптом при загрузке шаблона mobile_default
}
#header-advantages{
  margin: auto auto 11px 28px;
}
//---------------------------
// только картинка
#header-achivement{
  background: url($images_dir + "our-achievements.png")no-repeat 0 43px;
  height: 324px;
  margin-top: 35px;
}
// меню
#header-actions-and-discounts,
#header-popular-services,
#header-care{
  margin-bottom: 12px;
  margin-top: 15px;
  padding: 0;
}
// только картинка
#header-actions{
  background: url($images_dir + "actions-and-discounts.png")no-repeat 0 43px;
  color:$color-pink;
  height: 372px;
  margin-top: 20px;
}
//---------------------------
#license{
  background: url($images_dir_1280 + "default/license.png") #fafafa no-repeat 99% 20px;
  border: double #EEE;
  display: block;
  font: 18px/18px BookAntiqueItalic;
  margin-top: 11px;
  padding: 14px 122px 13px 26px;
}
#left-side,   // левое меню
#right-side{  // правое меню
  background-color: #F5F6F5;

  display: none;
}
#left-side{
  min-width: 232px;
}
#logo{
  //background: #FF0;
  display: block;
  height: 86px;
  left: 25px;
  position: absolute;
  top: 10px;
  width: 180px;
  z-index: 2;
}
#like-it{
  float: right;
  font:13px/27px $font-tahoma-family;
  font-weight: bold;
  margin-top: 19px;
}
#right-side{ // см. также layout.scss
  min-width: 200px;
}
#make-appointment{
  background: url($images_dir + "make-appointment.png");
  background-position: 13px 11px;
}
#make-gift{
  background: url($images_dir + "make-gift.png");
  background-position: 13px 10px;
}
#menu-right{
  cursor: pointer;
}
#page{
  background-color: white;
  @include box-shadow(0 0 6px 0 rgba(0,0,0,0.2));
  margin: auto;
  max-width: 1100px;
  overflow: hidden;
  @media (max-width:1024px){
    max-width: 1007px;
  }
}
#phones{
  float: right;
  clear: both;
}
#roof{
  background-color: $background-whitesmoke;
  @include border-common;
  height: $height-by-default;
  overflow: hidden;
}
#services-kinds{ // ul
  margin: 11px auto auto 9px;
}
#slider{
  background: url($images_dir + "banner.jpg");
  height: 100%;
  position: relative;
}
#slider-controls{
  bottom: 15px;
  left: 28.1%;
  position: absolute;
}
#social{
  height: 34px;
  margin: 2px 0;
  @media (min-width:1024px){
      display: none;
  }
}
#visavi{
  background: url($images_dir + "logotype.png") no-repeat 3.2% 17px;
  @include border-common;
  height: 109px;
  position: relative;
}
//--------------------mobile--------------------
#all-services,
#roof-mobile{
  display: none;
}
// панели
#all-services, #join-us{
  height: 44px;
}
#all-services{
  background-color: $background-menu-pink;
}
#join-us{
  text-align: center;
}
#roof-mobile{
  background: url($images_dir + "logotype-mobile.png") no-repeat 15px 5px;
  height: 44px;
}
#waiting-you{
  margin-bottom: 6px;
  margin-top: 15px;
}
#welcome{
  color: $color-dark;
  font-family: $font-tahoma-family;
  font-size: 13px;
  margin-left: -$offset-common1280;
}
@media (max-width:$resolution-mobile){
  #banner, #roof, #visavi{
      display: none;
  }
}
@media (max-width:$resolution-mobile){
  #all-services,
  #roof-mobile{
    display: block;
  }
}