@charset "utf-8";
// Set box-sizing -------------------------------------------------------
a,
article,
aside,
body,
footer,
header,
div,
li,
main,
menu,
nav,
p,
section,
span,
ul
{
  @include box-sizing(border-box);
}
//-----------------------------------------------------------------------
body, html{
  margin: 0;
  padding: 0;
}
body{
  @media (max-width:$resolution-mobile){
    overflow-x: hidden;
  }
}
#left-side,
#page,
#right-side{
  @media (max-width:$resolution-mobile){
    float: left;
  }
}
