@charset "utf-8";
a{
  &.active{
    color:$color-pink !important;
    text-transform: uppercase;
  }
  #banner>div:not(#slider)>&{
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    @include link-white;
    width: 100%;
  }
  .moduletable-cards &{ // Visa, MasterCard, Wifi

    background-image: url($images_dir + "cards-wifi.png");
    background-position-y: 6px;
    background-repeat: no-repeat;

    display: inline-block;
    height: 100%;
    &:nth-child(1){
      background-position-x:0;
      margin-right: 5px;
      width: 44px;
    }
    &:nth-child(2){
      background-position-x:-49px;
      margin-right: 19px;
      width: 37px;
    }
    &:nth-child(3){
      background-position-x:-105px;
      width: 36px;
    }
  }
  #discount-to-all-first-time &{
    background-color: $background-menu-pink-hover;
    border: solid 1px #e4657f;
    @include box-shadow(0 0 0 3px $background-menu-pink-hover);
    color: white;
    display: block;
    float: right;
    font: 14px/32px BookAntiqueItalicBold;
    /**
    40px      - см. высоту #discount-to-all-first-time
    минус 3*2 - розовая рамка вне границы
    минус 1*2      - допуск на границу */
    height: 32px;
    margin-right: 3px;
    margin-top: 3px;
    text-align: center;
    text-decoration: none;
    width: 151px;
  }
  #discount-more >&{
    float: left;
    font-size: 12px;
    margin-top: 3px;
  }
  #join-us &{
    display: inline-block;
    margin-right: 6px;
    margin-top: 3px;
    vertical-align: middle;
  }
  #left-side &,
  #right-side &{
    @include border-common;

    display: block;
    font-family: $font-tahoma-family;
    height: 43px;
    line-height: 43px;
    text-decoration: none;
    &:hover{
      background-color: white;
    }
  }
  #left-side &{
    color: $color-pink;
    font-size: 13px;
    padding: 0 16px;
    text-transform: uppercase;
  }
  .breadcrumbs &{
    background: url($images_dir + "home.png") no-repeat 6px 4px;
    color: #999;
    display: table;
    font-family: $font-tahoma-family;
    font-size: 11px;
    padding-left: 26px;
  }
  #page-actions h4 &{
    color: $color-pink;
    font-family: BookAntiqueItalicBold;
    font-size: 16px;
  }
  #right-side &,
  .left-panel &{
    background: url($images_dir + "arrow-right-gray-small.png") no-repeat 12px 20px;
    color: $color-dark;
    font-size: 12px;
    padding: 0 $offset-common1280;
  }
  .left-panel &{
    background-position: 0 13px;
    display: block;
    font-family: $font-tahoma-family;
    padding-bottom: 8px;
    padding-left: 19px;
    padding-top: 8px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
      background-image: url($images_dir + "arrow-right-pink-small.png");
      color:$color-pink !important;
    }
  }
  #left-side aside &,
  #right-side aside &{
    background-repeat: no-repeat;

    border-bottom: none;
    color: white;
    display: block;
    height: 44px;
    font-family: $font-tahoma-family;
    text-transform: uppercase;
    text-decoration: underline;
  }
  #left-side aside &{
    background-image: url($images_dir + "ask-specialist.png");
    background-position: 10px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 48px;
  }
  #right-side aside &{
    background-image: url($images_dir + "make-gift.png");
    background-position: 14px 10px;
    padding-left: 50px;
    font-size: 13px;
  }
  #right-side menu &:hover{
    background-color: white;
  }
  .moduletable-menu_top &{
    color: #333333;
    display: block;
    font-family: MyriadProRegular;
    font-size: 13.8px;
    height:$height-by-default;
    line-height: $height-by-default;
    padding:0 13.2%;
    @media (max-width:768px){
      padding-left: 8%;
      padding-right: 8%;
    }
    text-decoration: none;
    //@include centered-vertical-a;
    white-space: nowrap;
    &:hover{
      text-decoration: underline;
    }
  }
  #roof div:nth-child(3) &{ // ссылки перед формой поиска - VISA, MasterCard, WiFi
    display: inline-block;
    //@include centered-vertical-a;
  }
  .take-place-frame &{
    background: url($images_dir + 'make-appointment.png') $background-menu-pink no-repeat 14px;
    color: white;
    display: table;
    float: right;
    font-family: $font-tahoma-family;
    font-size: 12px;
    height: 44px;
    padding-left: 51px;
    text-decoration: none;
    text-transform: uppercase;
    width: 202px;
  }
  #welcome >div >aside > & {
    background: #000;
    border-radius: 50%;
    bottom: 15px;
    color: #FFF;
    display: block;
    font-family: $font-tahoma-family;
    font-size: 9px;
    font-weight: bold;
    height: 78px;
    position: absolute;
    right: 19px;
    text-align: center;
    text-decoration: none;
    width: 78px;
  }
  // FOOTER/MENU/A
  footer.desktop menu &{
    color: #ccc;
    font-family: MyriadProRegular;
    font-size: 13px;
    text-decoration: none;
    white-space: nowrap;
  }
  footer.mobile div &{
    color: $color-dark;
    font-family: $font-tahoma-family;
    font-size: 12px;
    line-height: 47px;
  }
  // NAV/A - Розовый блок с меню-пиктограммами, под баннером
  nav &{
    $link-border: solid 1px #eb6581;
    background-color: $color-pink;
    background-position: center 18px;
    background-repeat: no-repeat;
    display: table-cell;
    height: 100%;
    @include link-white;
    position: relative;
    @media (min-width:$resolution-mobile){
      text-align: center;
    }
    width: 14.286%;
    @media (min-width:$resolution-mobile + 1px){
      &:not(:last-child){
        border-right:$link-border;
      }
    }
    &:hover{
      background-color: $background-menu-pink-hover;
    }

    $i:0;
    @each $img in ('hairs-care','limbs-care','face-care','body-care','laser-epilation','injection-cosmetic','apparatus-cosmetic'){
      $i:$i+1;
      &:nth-child(#{$i}) {
        background-image: url($images_dir + "menu-" + $img + ".png");
      }
    }
    @media (max-width:$resolution-mobile){
      background-position: 5px;
      background-size: 29px 33px;
      @include box-shadow(0 0 0 1px rgba(200, 200, 200, 0.3));

      display: none;
      height: $menu-item-height-mobile;
      text-align: left;
      width: 43px; //100%;
    }
  }
}
aside{
  #left-side &,
  #right-side &{
    background-color: $background-menu-pink-mobile;
  }
  #page-care >section &{
    margin-left: 253px;
  }
  #roof-mobile &{
    float: right;
    height: 15px;
    margin-right: 15px;
    margin-top: 16px;
    width: 20px;
  }
  #welcome &{
    background: url($images_dir_1280 + "default/3-d-tour.jpg");
    float: right;
    height: 200px;
    margin-top: -49px;
    position: relative;
    width: 362px;
  }
}
body{
  background-image: url($images_root_dir
  + "backgrounds/bg.jpg");
}
div{
  #all-services >&{

    color: white;
    float:left;
    height: 100%;
    text-align: center;
    &:first-child{
      background-color: $background-menu-pink-hover;
      @include border-common(border-right,#EF6784);
      cursor: pointer;
      font-family: $font-tahoma-family;
      font-size: 12px;
      text-transform: uppercase;
      width: 24%;
      &:hover{
        background-color: $background-menu-pink-light-hover;
      }
    }
    &:last-child{
      width: 76%;
    }
  }
  #banner >&:not(#slider){
    background-size: cover;
    height: 46px;
    position: absolute;
    right: $offset-common1280;
    @media (max-width:1024px){
      right:$offset-common1024;
    }
    width: 201px;
    &:nth-child(2){ // записаться онлайн
      background-color: #ff7a95;
      top:15px;
      &:hover{
        background-image: url($images_dir + "hover-make-appointment.jpg");
      }
    }
    &:nth-child(3){ // подари сертификат
      background-color: #ee4c90;
      top:77px;
      &:hover{
        background-image: url($images_dir + "hover-make-gift.jpg");
      }
    }
    &:nth-child(4){ // задать вопрос специалисту
      background-color: #8d0e29;
      top:139px;
      &:hover{
        background-image: url($images_dir + "hover-ask-specialist.jpg");
      }
    }
  }
  #banner >&:not(#slider)>a>&{ // внутри ссылок в правой части баннера

    padding-left: 52px;
    @include centered-vertical;
  }
  // Элементы управления на "Баннере" - влево-стоп-вправо
  #slider-controls >&{
    color:red;

    padding-top: 5px;
    @include border-common(border);
    color:#9c9c9c;
    float: left;
    font-size: 13px;
    height: 27px;
    margin: auto 3px;
    text-align: center;
    width: 28px;
    &:hover{
      color: #ff7a95;
      cursor: pointer;
    }
    // stop control
    &:nth-child(2){
      font-size: 21px;
      line-height: 20px;
      padding-top: 0;
    }
  }
  #page-care >section >&{
    margin-bottom: 13px;
    overflow: auto;
  }

  $i:0;
  @each $image in ('peeling','wrapping','peeling2','peeling3') {
    $i: $i+1;
    #page-care >section >div:nth-child(#{$i})>&{
      background:url($images_dir_1280 + 'care/' + $image + '.jpg');
    }
  }
  #page-care >section >div >&{
    float: left;
    height: 122px;
    margin-top: 2px;
    padding: 4px;
    width: 222px;
  }
  #page-care >section >div> div >&{
    @include box-shadow(0 0 0 4px rgba(255, 255, 255, 0.5));
    height: 100%;
    width: 100%;
  }
  #phones &{
    float: right;
    &:nth-child(1){
      @include phones-numbers;
    }
    &:nth-child(2){
      @include phones-numbers;
      margin-right: 20px;
    }
    &:nth-child(3){
      font-family: 'PT Sans';
      font-size: 13px;
      margin-top: 4px;
    }
  }
  #roof >&:not(.moduletable-menu_top){
    float: right;
    height: 100%;
    // Форма поиска
    &:nth-child(2){
      margin-right: $offset-common1280;
      @media (max-width:1024px){
        margin-right:$offset-common1024;
      }
    }
  }
  #visavi >&{
    &:nth-child(1){ // Скидки
      // testmode: background-color
      // background-color: lightcyan;

      float: left;
      margin-left: 26.2%;
      margin-top: 33px;
    }
    &:nth-child(2){ // Контакты (тел., адрес)
      // testmode: background-color
      // background-color: lightpink;

      float: right;
      margin-right: $offset-common1280;
      @media (max-width:1024px){
        margin-right:$offset-common1024;
      }
      margin-top: 24px;
    }
  }
  #welcome >&{
    border:solid 1px #e4e4e4;
    margin-top: 11px;
    padding: 26px 0 10px 28px;
  }
  #welcome >div >&{
    padding-right: 393px;
  }
  .black-substrate >&{
    &:first-child{
      color: white;
      line-height: 26px;
      position: absolute;
      padding: 0 24px;
      z-index: 1;
    }
    &:last-child{
      color: #000;
      background: #000;
      height: 26px;
      opacity: 0.65;
      padding: 0 24px;
      position: absolute;
      z-index: 0;
    }
  }
  /* FOOTER --------------------------------------------------- */
  // Блоки первого уровня. Второй - собственно Footer (чёрный), содержащий мини-логотип, меню и счётчики
  footer.desktop>&{
    // Первый, над чёрным (собственно Footer'ом)
    &:nth-child(1){
      font-family: BookAntiqueItalic;
      height: $height-by-default;
      text-align: center;
    }
    // Второй, собственно Footer
    &:nth-child(2){
      background-color: #000000;
      height: 78px;
      margin-top: 2px;
    }
    // Третий, под чёрным
    &:nth-child(3){

      font-family: $font-tahoma-family;
      font-size: 11px;
      height: $height-by-default;
      line-height: $height-by-default;
      padding-left: $offset-common1280;
      padding-right: $offset-common1280;
      @media (max-width:1024px){
        padding-left:$offset-common1024;
        padding-right:$offset-common1024;
      }
    }
    @media (max-width:1024px){
      &:nth-child(1), &:nth-child(2){
        display: none;
      }
    }
  }
  footer.desktop>&:nth-child(1){
    border-top: solid 1px #E4E4E4;
  }
  // 2-й уровень в первом (самом верхнем) блоке
  footer.desktop>div:nth-child(1)>&{
    @include centered-vertical;
    margin-top: -2px;
  }
  // 2-й уровень во втором (собственно Footer'е) блоке
  footer.desktop>div:nth-child(2)>&{
    float: left;
    // Блок с нижним логотипом
    &:nth-child(1) {
      // dev: Удалить коричневый фон
      background-color: brown;

      background: url($images_dir + "logotype-bottom.png") no-repeat center;
      height: 100%;
      margin-right: 2.8%;
      width: 25%;
    }
    /*&:nth-child(2) {

    }*/
    // Блок со счётчиками
    &:nth-child(3) {
      float: right;
      margin-right: 2.9%;
      white-space: nowrap;
    }
  }
  footer.mobile &{
    float: left;
    margin-left: 16px;
  }
  /* Конец FOOTER'а ------------------------------------------- */
  /* NAV ------------------------------------------------------ */
  $border-params: solid 1px rgba(100, 100, 100, 0.15);
  nav>a>&{
    position: absolute;
    @media (min-width:$resolution-mobile){
      bottom: 0;
      height: 53px;
      width: 100%;
    }
    @media (max-width:$resolution-mobile){
      background-color: white;
      border-bottom: $border-params;

      color: $color-pink;
      height: $menu-item-height-mobile - 1px;
      left: 42px;
      right: 0;
      padding-left: 23px;
      text-transform: uppercase;
      width: 480px;
    }
  }
  nav > a:first-child > & {
    @media (max-width:$resolution-mobile) {
      border-top: $border-params;
    }
  }
  nav>a>div>&{
    @include centered-vertical;
    margin: auto;
    @media (min-width:$resolution-mobile + 1px){
      max-width: 126px;
    }
  }
  /* Конец NAV'а ------------------------------------------- */
}
footer{
  &.mobile{
    background-color: white;
    @include border-common(border-top);
    height: 47px;
    @media (max-width:$resolution-mobile){
      display: block;
    }
    @media (min-width:$resolution-mobile + 1px){
      display: none;
    }
  }
  &.desktop{
    @media (min-width:$resolution-mobile){
      display: block;
    }
    @media (max-width:$resolution-mobile){
      display: none;
    }
  }
}
form{
  #roof &{
    @include centered-vertical;
  }
}
h1{
  #page-care &{
    &.first{
      margin-bottom: 15px;
    }
  }
  #roof-mobile &{
    color: $color-pink;
    float: left;
    font-family: $font-tahoma-family;
    font-size: 12px;
    font-weight: normal;
    margin: 18px auto auto 43.3%;
    text-transform: uppercase;
  }
}
h4{
  #page-actions &{
    margin-top: -4px;
    margin-bottom: 15px;
  }
  #page-care >section &{
    color: $color-pink;
    font: 18px/18px BookAntiqueItalicBold;
    margin-bottom: 0;
    margin-top: 14px;
  }
  .left-panel &{
    color: $color-dark;
    font-family: $font-tahoma-family;
    font-size: 13px;
    text-transform: uppercase;
  }
}
hr{
  &.separator{
    border: 0;
    border-bottom: dotted 1px #C0C0C0;
    display: block;
    margin-bottom: 28px;
    margin-top: 26px;
  }
  #roof-mobile aside &{
    background-color: $color-pink-sandwich;
    border: none;
    height: 3px;
    margin: 0;
    margin-bottom: 3px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
img{
  #social &{
    margin-left: 1px;
  }
  footer.desktop >div:nth-child(2) // Чёрный блок, собственно footer
          >div:nth-child(3)>&{ // Картинки (счётчики) в последней (3-й) секции
    &:first-child{ // Первая картинка
      margin-left: -8.5%;
      margin-right: 8.5%;
    }
  }
  footer.mobile &{
    float: right;
    margin: 10px 16px;
  }
}
i{
  #waiting-you &{
    margin-bottom: 18px;
  }
  #waiting-you >.half-wide:first-child &{
    margin-top: 11px;
  }
  #welcome &{
    margin: 4px auto auto $offset-common1280;
  }
}
input{
  #roof &[name="q"]{ // динамический текст: language\ru-RU\ru-RU.mod_finder.ini
    height: 26px;
    margin-right: -4px;
    padding-left: 5px;
    width: 150px;
  }
}
li{
  display: table-cell;
  #right-side &,
  .left-panel &{
    display: block;
  }
  footer.desktop &{
    padding: 4px 1.95%;
  }
  ul.block &{
    display: list-item;
  }
  ul.curly &{
    background: url($images_dir + "curly-single-pink.png") no-repeat;
    background-position: 0 5px;
    color: #231f20;
    display: block;
    font: 13px Tahoma, Arial, sans-serif;
  }
  #services-kinds &{
    line-height: 18px;
    padding-left: 19px;
  }
  #waiting-you ul.curly &{
    font-weight: bold;
    line-height: 23px;
    padding-left: 17px;
  }
}
main{
  margin-bottom: $margin-bottom-main;
  padding-top: 0;
  position: relative;
  @media (max-width:$resolution-mobile){ // для мобильных устройств
    padding: $offset-common-mobile $offset-common-mobile 0 $offset-common-mobile;
  }
  @media (min-width:$resolution-mobile){ // Apple iPhone 6 Plus

    padding: $offset-common-mobile $offset-common1280 0 $offset-common1280;
  }
}
nav{
  //
  @media (min-width:$resolution-mobile + 1px){
    background-color: $background-menu-pink;
    display: table;
    height: 119px;
    position: relative;
    width: 100%;
  }
}
p{
  .custom-cards &{
    margin: 0;
    padding: 0;
  }
  :not(div.custom-cards) &{
    font: 13px/18px $font-tahoma-family;
    margin-bottom: 18px;
  }
  #our-advantages .half-wide &{
    margin-top: 83px;
  }
  #page-action &{
    &.banner{
      background: url($images_dir_1280 + 'action/discount.jpg') no-repeat;
      padding-top: 202px;
    }
  }

  #page-care aside &{
    margin-bottom: 0;
    &:nth-child(2){
      margin-top: 6px;
    }
  }
  #page-actions &{
    background-repeat: no-repeat;
    background-position: 0 4px;
    line-height: 18px;
    margin-bottom: 20px;
    margin-top: -5px;
    padding-left: 247px;
    &:nth-child(3){ // 1-й блок
      background-image: url($images_dir_1280 + 'actions/discount50.jpg');
    }
    &:nth-child(5){
       background-image: url($images_dir_1280 + 'actions/sertificates-sale.jpg');
    }
    &:nth-child(7){
      background-image: url($images_dir_1280 + 'actions/contour-plastics-sale.jpg');
    }
    &:nth-child(9){
      background-image: url($images_dir_1280 + 'actions/lpg-sale.jpg');
    }
    &:nth-child(11){
      background-image: url($images_dir_1280 + 'actions/rf-lifting-sale.jpg');
    }
  }
  #page-epilation &{
    margin-bottom: 18px;
    &.first{
      margin-top: -6px;
      padding-top: 0;
    }
  }
  #welcome &{
    margin: 18px auto 14px;
  }
}
section{
  overflow: auto;
  #all-services &{
    display: inline-block;
  }
}
span{
  #all-services div &{
    display: table;
  }
  // Второй блок - Звоните! +7 (812) 927-22-27
  #all-services div:last-child &{
    &:first-child{
      font-family: BookAntiqueItalicBold;
      font-size: 14px;
      line-height: 19px;
      margin-right: 10px;
    }
    &:last-child{
      font-family: BookAntiqueBold;
      font-size: 17px;
    }
  }
  #discount-more &{
    background: url($images_dir + "curly-more.png") no-repeat;
    &:first-child{
      float: left;
      height: 18px;
      margin-left: 8px;
      margin-right: -1px;
      margin-top: 2px;
      width: 11px;
    }
    &:last-child{
      background-position-x: -68px;
      float: left;
      height: 20px;
      margin-top: 3px;
      width: 10px;
    }
  }
  #discount2 span:first-child &{ // 20%
    margin-left: 2px;
  }
  #join-us &{
    color: $color-pink;
    font-family: BookAntiqueItalicBold;
    font-size: 14px;
    height: 100%;
    line-height: 44px;
    margin-right: 32px;
  }
  #page-epilation p.first &{
    background: url($images_dir_1280 + 'epilation/bikini.jpg') no-repeat;
    display: block;
    float: left;
    height: 187px;
    margin-top: 8px;
    padding-left: 331px + $offset-common1280;
    width: 331px;
  }
  // Значки элементов управления слайдером (текст)
  #slider-controls>div:first-child &, // влево
  #slider-controls>div:last-child &{  //вправо
    display: block;
    @include transform(scaleX(0.8));
  }
  #welcome aside >a &{
    display: block;
    &:nth-child(1){
      font-size: 24px;
      margin-bottom: -5px;
      margin-top: 8px;
    }
    &:nth-child(2){
      font-size: 14px;
    }
  }
  footer.desktop >div:nth-child(1) // Первый блок футера
    >div>&{ // Вложенный блок/span
    color:$color-dark;
    font-size: 14px;
    &:nth-child(1){ // Розовый блок "ВНИМАНИЕ!"
      color: $color-pink;
    }
  }
  ul.color-pink &{
    color:$color-dark;
  }
}
strong{
  #welcome &{
    line-height: 18px;
  }
}
ul{
  margin: 0;
  padding: 0;
  #page-action &{
    &.color-pink{
      margin-bottom: 18px;
      margin-left: 15px;
    }
  }
  #waiting-you &{
    margin-left: 10px;
  }
  //-menus-
  &.nav.menu{
    display: table;
    margin: 0;
    padding: 0;
    footer.desktop &{
      height: auto;
      @include centered-vertical;
    }
    .left-panel &{
      margin-top: 12px;
    }
    #right-side &{
      display: block;
    }
    #roof &{
      float: left;
      margin-left: 24px;
    }
  }
  &#menu-top{

  }
  &#menu-bottom{

  }
}