$color-dark:#333;     // Цвет текста
$color-pink-sandwich:#cc3366; // Розовый для "сэндвича"
$color-pink:#e42c52;  // Розовый цвет текста
$background-whitesmoke:#f7f7f7;
$background-menu-pink:#E42C52; // Цвет меню с услугами
$background-menu-pink-hover:#d82348;
$background-menu-pink-light-hover:#DE6780;
$background-menu-pink-mobile:#cf1f43; // Цвет заголовков левого/правого меню
$border-color-gray-light:#e1e1e1;
$font-tahoma-family: Tahoma, Arial, sans-serif;
$height-by-default:34px;
$menu-item-height-mobile:42px;
$offset-common1280:30px;  // Стандартный отступ от крёв контейнера
$offset-common1024:20px;  // При 1024px (видимо, и при 768px тоже)
$offset-common-mobile:15px;   // Отступ для мобильной версии
$resolution-mobile:480px;