@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
/* default sass file */
/* line 3, ../../../_dev/scss/tags.scss */
a.active {
  color: #e42c52 !important;
  text-transform: uppercase;
}
/* line 7, ../../../_dev/scss/tags.scss */
#banner > div:not(#slider) > a {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
/* line 14, ../../../_dev/scss/tags.scss */
.moduletable-cards a {
  background-image: url("../images/sources/cards-wifi.png");
  background-position-y: 6px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 100%;
}
/* line 22, ../../../_dev/scss/tags.scss */
.moduletable-cards a:nth-child(1) {
  background-position-x: 0;
  margin-right: 5px;
  width: 44px;
}
/* line 27, ../../../_dev/scss/tags.scss */
.moduletable-cards a:nth-child(2) {
  background-position-x: -49px;
  margin-right: 19px;
  width: 37px;
}
/* line 32, ../../../_dev/scss/tags.scss */
.moduletable-cards a:nth-child(3) {
  background-position-x: -105px;
  width: 36px;
}
/* line 37, ../../../_dev/scss/tags.scss */
#discount-to-all-first-time a {
  background-color: #d82348;
  border: solid 1px #e4657f;
  -webkit-box-shadow: 0 0 0 3px #d82348;
  -moz-box-shadow: 0 0 0 3px #d82348;
  box-shadow: 0 0 0 3px #d82348;
  color: white;
  display: block;
  float: right;
  font: 14px/32px BookAntiqueItalicBold;
  /**
  40px      - см. высоту #discount-to-all-first-time
  минус 3*2 - розовая рамка вне границы
  минус 1*2      - допуск на границу */
  height: 32px;
  margin-right: 3px;
  margin-top: 3px;
  text-align: center;
  text-decoration: none;
  width: 151px;
}
/* line 56, ../../../_dev/scss/tags.scss */
#discount-more > a {
  float: left;
  font-size: 12px;
  margin-top: 3px;
}
/* line 61, ../../../_dev/scss/tags.scss */
#join-us a {
  display: inline-block;
  margin-right: 6px;
  margin-top: 3px;
  vertical-align: middle;
}
/* line 68, ../../../_dev/scss/tags.scss */
#left-side a, #right-side a {
  border-bottom: solid 1px #e1e1e1;
  display: block;
  font-family: Tahoma, Arial, sans-serif;
  height: 43px;
  line-height: 43px;
  text-decoration: none;
}
/* line 76, ../../../_dev/scss/tags.scss */
#left-side a:hover, #right-side a:hover {
  background-color: white;
}
/* line 80, ../../../_dev/scss/tags.scss */
#left-side a {
  color: #e42c52;
  font-size: 13px;
  padding: 0 16px;
  text-transform: uppercase;
}
/* line 86, ../../../_dev/scss/tags.scss */
.breadcrumbs a {
  background: url("../images/sources/home.png") no-repeat 6px 4px;
  color: #999;
  display: table;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  padding-left: 26px;
}
/* line 94, ../../../_dev/scss/tags.scss */
#page-actions h4 a {
  color: #e42c52;
  font-family: BookAntiqueItalicBold;
  font-size: 16px;
}
/* line 100, ../../../_dev/scss/tags.scss */
#right-side a, .left-panel a {
  background: url("../images/sources/arrow-right-gray-small.png") no-repeat 12px 20px;
  color: #333333;
  font-size: 12px;
  padding: 0 30px;
}
/* line 106, ../../../_dev/scss/tags.scss */
.left-panel a {
  background-position: 0 13px;
  display: block;
  font-family: Tahoma, Arial, sans-serif;
  padding-bottom: 8px;
  padding-left: 19px;
  padding-top: 8px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 115, ../../../_dev/scss/tags.scss */
.left-panel a:hover {
  background-image: url("../images/sources/arrow-right-pink-small.png");
  color: #e42c52 !important;
}
/* line 121, ../../../_dev/scss/tags.scss */
#left-side aside a, #right-side aside a {
  background-repeat: no-repeat;
  border-bottom: none;
  color: white;
  display: block;
  height: 44px;
  font-family: Tahoma, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
}
/* line 132, ../../../_dev/scss/tags.scss */
#left-side aside a {
  background-image: url("../images/sources/ask-specialist.png");
  background-position: 10px;
  font-size: 12px;
  font-weight: bold;
  padding-left: 48px;
}
/* line 139, ../../../_dev/scss/tags.scss */
#right-side aside a {
  background-image: url("../images/sources/make-gift.png");
  background-position: 14px 10px;
  padding-left: 50px;
  font-size: 13px;
}
/* line 145, ../../../_dev/scss/tags.scss */
#right-side menu a:hover {
  background-color: white;
}
/* line 148, ../../../_dev/scss/tags.scss */
.moduletable-menu_top a {
  color: #333333;
  display: block;
  font-family: MyriadProRegular;
  font-size: 13.8px;
  height: 34px;
  line-height: 34px;
  padding: 0 13.2%;
  text-decoration: none;
  white-space: nowrap;
}
@media (max-width: 768px) {
  /* line 148, ../../../_dev/scss/tags.scss */
  .moduletable-menu_top a {
    padding-left: 8%;
    padding-right: 8%;
  }
}
/* line 163, ../../../_dev/scss/tags.scss */
.moduletable-menu_top a:hover {
  text-decoration: underline;
}
/* line 167, ../../../_dev/scss/tags.scss */
#roof div:nth-child(3) a {
  display: inline-block;
}
/* line 171, ../../../_dev/scss/tags.scss */
.take-place-frame a {
  background: url("../images/sources/make-appointment.png") #e42c52 no-repeat 14px;
  color: white;
  display: table;
  float: right;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  height: 44px;
  padding-left: 51px;
  text-decoration: none;
  text-transform: uppercase;
  width: 202px;
}
/* line 184, ../../../_dev/scss/tags.scss */
#welcome > div > aside > a {
  background: #000;
  border-radius: 50%;
  bottom: 15px;
  color: #FFF;
  display: block;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 9px;
  font-weight: bold;
  height: 78px;
  position: absolute;
  right: 19px;
  text-align: center;
  text-decoration: none;
  width: 78px;
}
/* line 201, ../../../_dev/scss/tags.scss */
footer.desktop menu a {
  color: #ccc;
  font-family: MyriadProRegular;
  font-size: 13px;
  text-decoration: none;
  white-space: nowrap;
}
/* line 208, ../../../_dev/scss/tags.scss */
footer.mobile div a {
  color: #333333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 47px;
}
/* line 215, ../../../_dev/scss/tags.scss */
nav a {
  background-color: #e42c52;
  background-position: center 18px;
  background-repeat: no-repeat;
  display: table-cell;
  height: 100%;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  width: 14.286%;
}
@media (min-width: 480px) {
  /* line 215, ../../../_dev/scss/tags.scss */
  nav a {
    text-align: center;
  }
}
@media (min-width: 481px) {
  /* line 229, ../../../_dev/scss/tags.scss */
  nav a:not(:last-child) {
    border-right: solid 1px #eb6581;
  }
}
/* line 233, ../../../_dev/scss/tags.scss */
nav a:hover {
  background-color: #d82348;
}
/* line 240, ../../../_dev/scss/tags.scss */
nav a:nth-child(1) {
  background-image: url("../images/sources/menu-hairs-care.png");
}
/* line 240, ../../../_dev/scss/tags.scss */
nav a:nth-child(2) {
  background-image: url("../images/sources/menu-limbs-care.png");
}
/* line 240, ../../../_dev/scss/tags.scss */
nav a:nth-child(3) {
  background-image: url("../images/sources/menu-face-care.png");
}
/* line 240, ../../../_dev/scss/tags.scss */
nav a:nth-child(4) {
  background-image: url("../images/sources/menu-body-care.png");
}
/* line 240, ../../../_dev/scss/tags.scss */
nav a:nth-child(5) {
  background-image: url("../images/sources/menu-laser-epilation.png");
}
/* line 240, ../../../_dev/scss/tags.scss */
nav a:nth-child(6) {
  background-image: url("../images/sources/menu-injection-cosmetic.png");
}
/* line 240, ../../../_dev/scss/tags.scss */
nav a:nth-child(7) {
  background-image: url("../images/sources/menu-apparatus-cosmetic.png");
}
@media (max-width: 480px) {
  /* line 215, ../../../_dev/scss/tags.scss */
  nav a {
    background-position: 5px;
    background-size: 29px 33px;
    -webkit-box-shadow: 0 0 0 1px rgba(200, 200, 200, 0.3);
    -moz-box-shadow: 0 0 0 1px rgba(200, 200, 200, 0.3);
    box-shadow: 0 0 0 1px rgba(200, 200, 200, 0.3);
    display: none;
    height: 42px;
    text-align: left;
    width: 43px;
  }
}

/* line 258, ../../../_dev/scss/tags.scss */
#left-side aside, #right-side aside {
  background-color: #cf1f43;
}
/* line 261, ../../../_dev/scss/tags.scss */
#page-care > section aside {
  margin-left: 253px;
}
/* line 264, ../../../_dev/scss/tags.scss */
#roof-mobile aside {
  float: right;
  height: 15px;
  margin-right: 15px;
  margin-top: 16px;
  width: 20px;
}
/* line 271, ../../../_dev/scss/tags.scss */
#welcome aside {
  background: url("../images/sources/1280_default/3-d-tour.jpg");
  float: right;
  height: 200px;
  margin-top: -49px;
  position: relative;
  width: 362px;
}

/* line 280, ../../../_dev/scss/tags.scss */
body {
  background-image: url("../images/backgrounds/bg.jpg");
}

/* line 284, ../../../_dev/scss/tags.scss */
div {
  /* FOOTER --------------------------------------------------- */
  /* Конец FOOTER'а ------------------------------------------- */
  /* NAV ------------------------------------------------------ */
  /* Конец NAV'а ------------------------------------------- */
}
/* line 285, ../../../_dev/scss/tags.scss */
#all-services > div {
  color: white;
  float: left;
  height: 100%;
  text-align: center;
}
/* line 291, ../../../_dev/scss/tags.scss */
#all-services > div:first-child {
  background-color: #d82348;
  border-right: solid 1px #ef6784;
  cursor: pointer;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  width: 24%;
}
/* line 299, ../../../_dev/scss/tags.scss */
#all-services > div:first-child:hover {
  background-color: #de6780;
}
/* line 303, ../../../_dev/scss/tags.scss */
#all-services > div:last-child {
  width: 76%;
}
/* line 307, ../../../_dev/scss/tags.scss */
#banner > div:not(#slider) {
  background-size: cover;
  height: 46px;
  position: absolute;
  right: 30px;
  width: 201px;
}
@media (max-width: 1024px) {
  /* line 307, ../../../_dev/scss/tags.scss */
  #banner > div:not(#slider) {
    right: 20px;
  }
}
/* line 316, ../../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(2) {
  background-color: #ff7a95;
  top: 15px;
}
/* line 319, ../../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(2):hover {
  background-image: url("../images/sources/hover-make-appointment.jpg");
}
/* line 323, ../../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(3) {
  background-color: #ee4c90;
  top: 77px;
}
/* line 326, ../../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(3):hover {
  background-image: url("../images/sources/hover-make-gift.jpg");
}
/* line 330, ../../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(4) {
  background-color: #8d0e29;
  top: 139px;
}
/* line 333, ../../../_dev/scss/tags.scss */
#banner > div:not(#slider):nth-child(4):hover {
  background-image: url("../images/sources/hover-ask-specialist.jpg");
}
/* line 338, ../../../_dev/scss/tags.scss */
#banner > div:not(#slider) > a > div {
  padding-left: 52px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 344, ../../../_dev/scss/tags.scss */
#slider-controls > div {
  color: red;
  padding-top: 5px;
  border: solid 1px #e1e1e1;
  color: #9c9c9c;
  float: left;
  font-size: 13px;
  height: 27px;
  margin: auto 3px;
  text-align: center;
  width: 28px;
}
/* line 356, ../../../_dev/scss/tags.scss */
#slider-controls > div:hover {
  color: #ff7a95;
  cursor: pointer;
}
/* line 361, ../../../_dev/scss/tags.scss */
#slider-controls > div:nth-child(2) {
  font-size: 21px;
  line-height: 20px;
  padding-top: 0;
}
/* line 367, ../../../_dev/scss/tags.scss */
#page-care > section > div {
  margin-bottom: 13px;
  overflow: auto;
}
/* line 375, ../../../_dev/scss/tags.scss */
#page-care > section > div:nth-child(1) > div {
  background: url("../images/sources/1280_care/peeling.jpg");
}
/* line 375, ../../../_dev/scss/tags.scss */
#page-care > section > div:nth-child(2) > div {
  background: url("../images/sources/1280_care/wrapping.jpg");
}
/* line 375, ../../../_dev/scss/tags.scss */
#page-care > section > div:nth-child(3) > div {
  background: url("../images/sources/1280_care/peeling2.jpg");
}
/* line 375, ../../../_dev/scss/tags.scss */
#page-care > section > div:nth-child(4) > div {
  background: url("../images/sources/1280_care/peeling3.jpg");
}
/* line 379, ../../../_dev/scss/tags.scss */
#page-care > section > div > div {
  float: left;
  height: 122px;
  margin-top: 2px;
  padding: 4px;
  width: 222px;
}
/* line 386, ../../../_dev/scss/tags.scss */
#page-care > section > div > div > div {
  -webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
}
/* line 391, ../../../_dev/scss/tags.scss */
#phones div {
  float: right;
}
/* line 393, ../../../_dev/scss/tags.scss */
#phones div:nth-child(1) {
  color: #333333;
  background: url("../images/sources/mobila.png") no-repeat;
  font-family: BookAntiqueBold;
  font-size: 19px;
  margin-top: 5px;
  padding-left: 18px;
  background-position-y: 3px;
}
/* line 396, ../../../_dev/scss/tags.scss */
#phones div:nth-child(2) {
  color: #333333;
  background: url("../images/sources/mobila.png") no-repeat;
  font-family: BookAntiqueBold;
  font-size: 19px;
  margin-top: 5px;
  padding-left: 18px;
  background-position-y: 3px;
  margin-right: 20px;
}
/* line 400, ../../../_dev/scss/tags.scss */
#phones div:nth-child(3) {
  font-family: 'PT Sans';
  font-size: 13px;
  margin-top: 4px;
}
/* line 406, ../../../_dev/scss/tags.scss */
#roof > div:not(.moduletable-menu_top) {
  float: right;
  height: 100%;
}
/* line 410, ../../../_dev/scss/tags.scss */
#roof > div:not(.moduletable-menu_top):nth-child(2) {
  margin-right: 30px;
}
@media (max-width: 1024px) {
  /* line 410, ../../../_dev/scss/tags.scss */
  #roof > div:not(.moduletable-menu_top):nth-child(2) {
    margin-right: 20px;
  }
}
/* line 418, ../../../_dev/scss/tags.scss */
#visavi > div:nth-child(1) {
  float: left;
  margin-left: 26.2%;
  margin-top: 33px;
}
/* line 426, ../../../_dev/scss/tags.scss */
#visavi > div:nth-child(2) {
  float: right;
  margin-right: 30px;
  margin-top: 24px;
}
@media (max-width: 1024px) {
  /* line 426, ../../../_dev/scss/tags.scss */
  #visavi > div:nth-child(2) {
    margin-right: 20px;
  }
}
/* line 438, ../../../_dev/scss/tags.scss */
#welcome > div {
  border: solid 1px #e4e4e4;
  margin-top: 11px;
  padding: 26px 0 10px 28px;
}
/* line 443, ../../../_dev/scss/tags.scss */
#welcome > div > div {
  padding-right: 393px;
}
/* line 447, ../../../_dev/scss/tags.scss */
.black-substrate > div:first-child {
  color: white;
  line-height: 26px;
  position: absolute;
  padding: 0 24px;
  z-index: 1;
}
/* line 454, ../../../_dev/scss/tags.scss */
.black-substrate > div:last-child {
  color: #000;
  background: #000;
  height: 26px;
  opacity: 0.65;
  padding: 0 24px;
  position: absolute;
  z-index: 0;
}
/* line 468, ../../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(1) {
  font-family: BookAntiqueItalic;
  height: 34px;
  text-align: center;
}
/* line 474, ../../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(2) {
  background-color: #000000;
  height: 78px;
  margin-top: 2px;
}
/* line 480, ../../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(3) {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  height: 34px;
  line-height: 34px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1024px) {
  /* line 480, ../../../_dev/scss/tags.scss */
  footer.desktop > div:nth-child(3) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  /* line 494, ../../../_dev/scss/tags.scss */
  footer.desktop > div:nth-child(1), footer.desktop > div:nth-child(2) {
    display: none;
  }
}
/* line 499, ../../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(1) {
  border-top: solid 1px #E4E4E4;
}
/* line 503, ../../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(1) > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -2px;
}
/* line 508, ../../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(2) > div {
  float: left;
    /*&:nth-child(2) {

    }*/
}
/* line 511, ../../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(2) > div:nth-child(1) {
  background-color: brown;
  background: url("../images/sources/logotype-bottom.png") no-repeat center;
  height: 100%;
  margin-right: 2.8%;
  width: 25%;
}
/* line 524, ../../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(2) > div:nth-child(3) {
  float: right;
  margin-right: 2.9%;
  white-space: nowrap;
}
/* line 530, ../../../_dev/scss/tags.scss */
footer.mobile div {
  float: left;
  margin-left: 16px;
}
/* line 537, ../../../_dev/scss/tags.scss */
nav > a > div {
  position: absolute;
}
@media (min-width: 480px) {
  /* line 537, ../../../_dev/scss/tags.scss */
  nav > a > div {
    bottom: 0;
    height: 53px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 537, ../../../_dev/scss/tags.scss */
  nav > a > div {
    background-color: white;
    border-bottom: solid 1px rgba(100, 100, 100, 0.15);
    color: #e42c52;
    height: 41px;
    left: 42px;
    right: 0;
    padding-left: 23px;
    text-transform: uppercase;
    width: 480px;
  }
}
@media (max-width: 480px) {
  /* line 557, ../../../_dev/scss/tags.scss */
  nav > a:first-child > div {
    border-top: solid 1px rgba(100, 100, 100, 0.15);
  }
}
/* line 562, ../../../_dev/scss/tags.scss */
nav > a > div > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
}
@media (min-width: 481px) {
  /* line 562, ../../../_dev/scss/tags.scss */
  nav > a > div > div {
    max-width: 126px;
  }
}

/* line 572, ../../../_dev/scss/tags.scss */
footer.mobile {
  background-color: white;
  border-top: solid 1px #e1e1e1;
  height: 47px;
}
@media (max-width: 480px) {
  /* line 572, ../../../_dev/scss/tags.scss */
  footer.mobile {
    display: block;
  }
}
@media (min-width: 481px) {
  /* line 572, ../../../_dev/scss/tags.scss */
  footer.mobile {
    display: none;
  }
}
@media (min-width: 480px) {
  /* line 583, ../../../_dev/scss/tags.scss */
  footer.desktop {
    display: block;
  }
}
@media (max-width: 480px) {
  /* line 583, ../../../_dev/scss/tags.scss */
  footer.desktop {
    display: none;
  }
}

/* line 593, ../../../_dev/scss/tags.scss */
#roof form {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 599, ../../../_dev/scss/tags.scss */
#page-care h1.first {
  margin-bottom: 15px;
}
/* line 603, ../../../_dev/scss/tags.scss */
#roof-mobile h1 {
  color: #e42c52;
  float: left;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 18px auto auto 43.3%;
  text-transform: uppercase;
}

/* line 614, ../../../_dev/scss/tags.scss */
#page-actions h4 {
  margin-top: -4px;
  margin-bottom: 15px;
}
/* line 618, ../../../_dev/scss/tags.scss */
#page-care > section h4 {
  color: #e42c52;
  font: 18px/18px BookAntiqueItalicBold;
  margin-bottom: 0;
  margin-top: 14px;
}
/* line 624, ../../../_dev/scss/tags.scss */
.left-panel h4 {
  color: #333333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

/* line 632, ../../../_dev/scss/tags.scss */
hr.separator {
  border: 0;
  border-bottom: dotted 1px #C0C0C0;
  display: block;
  margin-bottom: 28px;
  margin-top: 26px;
}
/* line 639, ../../../_dev/scss/tags.scss */
#roof-mobile aside hr {
  background-color: #cc3366;
  border: none;
  height: 3px;
  margin: 0;
  margin-bottom: 3px;
}
/* line 645, ../../../_dev/scss/tags.scss */
#roof-mobile aside hr:last-child {
  margin-bottom: 0;
}

/* line 651, ../../../_dev/scss/tags.scss */
#social img {
  margin-left: 1px;
}
/* line 656, ../../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(2)
> div:nth-child(3) > img:first-child {
  margin-left: -8.5%;
  margin-right: 8.5%;
}
/* line 661, ../../../_dev/scss/tags.scss */
footer.mobile img {
  float: right;
  margin: 10px 16px;
}

/* line 667, ../../../_dev/scss/tags.scss */
#waiting-you i {
  margin-bottom: 18px;
}
/* line 670, ../../../_dev/scss/tags.scss */
#waiting-you > .half-wide:first-child i {
  margin-top: 11px;
}
/* line 673, ../../../_dev/scss/tags.scss */
#welcome i {
  margin: 4px auto auto 30px;
}

/* line 678, ../../../_dev/scss/tags.scss */
#roof input[name="q"] {
  height: 26px;
  margin-right: -4px;
  padding-left: 5px;
  width: 150px;
}

/* line 685, ../../../_dev/scss/tags.scss */
li {
  display: table-cell;
}
/* line 688, ../../../_dev/scss/tags.scss */
#right-side li, .left-panel li {
  display: block;
}
/* line 691, ../../../_dev/scss/tags.scss */
footer.desktop li {
  padding: 4px 1.95%;
}
/* line 694, ../../../_dev/scss/tags.scss */
ul.block li {
  display: list-item;
}
/* line 697, ../../../_dev/scss/tags.scss */
ul.curly li {
  background: url("../images/sources/curly-single-pink.png") no-repeat;
  background-position: 0 5px;
  color: #231f20;
  display: block;
  font: 13px Tahoma, Arial, sans-serif;
}
/* line 704, ../../../_dev/scss/tags.scss */
#services-kinds li {
  line-height: 18px;
  padding-left: 19px;
}
/* line 708, ../../../_dev/scss/tags.scss */
#waiting-you ul.curly li {
  font-weight: bold;
  line-height: 23px;
  padding-left: 17px;
}

/* line 714, ../../../_dev/scss/tags.scss */
main {
  margin-bottom: 58px;
  padding-top: 0;
  position: relative;
}
@media (max-width: 480px) {
  /* line 714, ../../../_dev/scss/tags.scss */
  main {
    padding: 15px 15px 0 15px;
  }
}
@media (min-width: 480px) {
  /* line 714, ../../../_dev/scss/tags.scss */
  main {
    padding: 15px 30px 0 30px;
  }
}

@media (min-width: 481px) {
  /* line 726, ../../../_dev/scss/tags.scss */
  nav {
    background-color: #e42c52;
    display: table;
    height: 119px;
    position: relative;
    width: 100%;
  }
}

/* line 737, ../../../_dev/scss/tags.scss */
.custom-cards p {
  margin: 0;
  padding: 0;
}
/* line 741, ../../../_dev/scss/tags.scss */
:not(div.custom-cards) p {
  font: 13px/18px Tahoma, Arial, sans-serif;
  margin-bottom: 18px;
}
/* line 745, ../../../_dev/scss/tags.scss */
#our-advantages .half-wide p {
  margin-top: 83px;
}
/* line 749, ../../../_dev/scss/tags.scss */
#page-action p.banner {
  background: url("../images/sources/1280_action/discount.jpg") no-repeat;
  padding-top: 202px;
}
/* line 755, ../../../_dev/scss/tags.scss */
#page-care aside p {
  margin-bottom: 0;
}
/* line 757, ../../../_dev/scss/tags.scss */
#page-care aside p:nth-child(2) {
  margin-top: 6px;
}
/* line 761, ../../../_dev/scss/tags.scss */
#page-actions p {
  background-repeat: no-repeat;
  background-position: 0 4px;
  line-height: 18px;
  margin-bottom: 20px;
  margin-top: -5px;
  padding-left: 247px;
}
/* line 768, ../../../_dev/scss/tags.scss */
#page-actions p:nth-child(3) {
  background-image: url("../images/sources/1280_actions/discount50.jpg");
}
/* line 771, ../../../_dev/scss/tags.scss */
#page-actions p:nth-child(5) {
  background-image: url("../images/sources/1280_actions/sertificates-sale.jpg");
}
/* line 774, ../../../_dev/scss/tags.scss */
#page-actions p:nth-child(7) {
  background-image: url("../images/sources/1280_actions/contour-plastics-sale.jpg");
}
/* line 777, ../../../_dev/scss/tags.scss */
#page-actions p:nth-child(9) {
  background-image: url("../images/sources/1280_actions/lpg-sale.jpg");
}
/* line 780, ../../../_dev/scss/tags.scss */
#page-actions p:nth-child(11) {
  background-image: url("../images/sources/1280_actions/rf-lifting-sale.jpg");
}
/* line 784, ../../../_dev/scss/tags.scss */
#page-epilation p {
  margin-bottom: 18px;
}
/* line 786, ../../../_dev/scss/tags.scss */
#page-epilation p.first {
  margin-top: -6px;
  padding-top: 0;
}
/* line 791, ../../../_dev/scss/tags.scss */
#welcome p {
  margin: 18px auto 14px;
}

/* line 795, ../../../_dev/scss/tags.scss */
section {
  overflow: auto;
}
/* line 797, ../../../_dev/scss/tags.scss */
#all-services section {
  display: inline-block;
}

/* line 802, ../../../_dev/scss/tags.scss */
#all-services div span {
  display: table;
}
/* line 807, ../../../_dev/scss/tags.scss */
#all-services div:last-child span:first-child {
  font-family: BookAntiqueItalicBold;
  font-size: 14px;
  line-height: 19px;
  margin-right: 10px;
}
/* line 813, ../../../_dev/scss/tags.scss */
#all-services div:last-child span:last-child {
  font-family: BookAntiqueBold;
  font-size: 17px;
}
/* line 818, ../../../_dev/scss/tags.scss */
#discount-more span {
  background: url("../images/sources/curly-more.png") no-repeat;
}
/* line 820, ../../../_dev/scss/tags.scss */
#discount-more span:first-child {
  float: left;
  height: 18px;
  margin-left: 8px;
  margin-right: -1px;
  margin-top: 2px;
  width: 11px;
}
/* line 828, ../../../_dev/scss/tags.scss */
#discount-more span:last-child {
  background-position-x: -68px;
  float: left;
  height: 20px;
  margin-top: 3px;
  width: 10px;
}
/* line 836, ../../../_dev/scss/tags.scss */
#discount2 span:first-child span {
  margin-left: 2px;
}
/* line 839, ../../../_dev/scss/tags.scss */
#join-us span {
  color: #e42c52;
  font-family: BookAntiqueItalicBold;
  font-size: 14px;
  height: 100%;
  line-height: 44px;
  margin-right: 32px;
}
/* line 847, ../../../_dev/scss/tags.scss */
#page-epilation p.first span {
  background: url("../images/sources/1280_epilation/bikini.jpg") no-repeat;
  display: block;
  float: left;
  height: 187px;
  margin-top: 8px;
  padding-left: 361px;
  width: 331px;
}
/* line 858, ../../../_dev/scss/tags.scss */
#slider-controls > div:first-child span, #slider-controls > div:last-child span {
  display: block;
  -webkit-transform: scaleX(0.8);
  -moz-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  -o-transform: scaleX(0.8);
  transform: scaleX(0.8);
}
/* line 862, ../../../_dev/scss/tags.scss */
#welcome aside > a span {
  display: block;
}
/* line 864, ../../../_dev/scss/tags.scss */
#welcome aside > a span:nth-child(1) {
  font-size: 24px;
  margin-bottom: -5px;
  margin-top: 8px;
}
/* line 869, ../../../_dev/scss/tags.scss */
#welcome aside > a span:nth-child(2) {
  font-size: 14px;
}
/* line 874, ../../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(1)
> div > span {
  color: #333333;
  font-size: 14px;
}
/* line 877, ../../../_dev/scss/tags.scss */
footer.desktop > div:nth-child(1)
> div > span:nth-child(1) {
  color: #e42c52;
}
/* line 881, ../../../_dev/scss/tags.scss */
ul.color-pink span {
  color: #333333;
}

/* line 886, ../../../_dev/scss/tags.scss */
#welcome strong {
  line-height: 18px;
}

/* line 890, ../../../_dev/scss/tags.scss */
ul {
  margin: 0;
  padding: 0;
}
/* line 894, ../../../_dev/scss/tags.scss */
#page-action ul.color-pink {
  margin-bottom: 18px;
  margin-left: 15px;
}
/* line 899, ../../../_dev/scss/tags.scss */
#waiting-you ul {
  margin-left: 10px;
}
/* line 903, ../../../_dev/scss/tags.scss */
ul.nav.menu {
  display: table;
  margin: 0;
  padding: 0;
}
/* line 907, ../../../_dev/scss/tags.scss */
footer.desktop ul.nav.menu {
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 911, ../../../_dev/scss/tags.scss */
.left-panel ul.nav.menu {
  margin-top: 12px;
}
/* line 914, ../../../_dev/scss/tags.scss */
#right-side ul.nav.menu {
  display: block;
}
/* line 917, ../../../_dev/scss/tags.scss */
#roof ul.nav.menu {
  float: left;
  margin-left: 24px;
}

@font-face {
  font-family: "MyriadProCond";
  src: url("../fonts/MyriadProCond.eot");
  src: url("../fonts/MyriadProCond.eot") format("embedded-opentype"), url("../fonts/MyriadProCond.woff2") format("woff2"), url("../fonts/MyriadProCond.woff") format("woff"), url("../fonts/MyriadProCond.ttf") format("truetype"), url("../fonts/MyriadProCond.svg#BookAntiqueItalicBold") format("svg");
}

@font-face {
  font-family: "MyriadProIt";
  src: url("../fonts/MyriadProIt.eot");
  src: url("../fonts/MyriadProIt.eot") format("embedded-opentype"), url("../fonts/MyriadProIt.woff2") format("woff2"), url("../fonts/MyriadProIt.woff") format("woff"), url("../fonts/MyriadProIt.ttf") format("truetype"), url("../fonts/MyriadProIt.svg#BookAntiqueItalicBold") format("svg");
}

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold.eot") format("embedded-opentype"), url("../fonts/MyriadProBold.woff2") format("woff2"), url("../fonts/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold.ttf") format("truetype"), url("../fonts/MyriadProBold.svg#BookAntiqueItalicBold") format("svg");
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot") format("embedded-opentype"), url("../fonts/MyriadProRegular.woff2") format("woff2"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype"), url("../fonts/MyriadProRegular.svg#BookAntiqueItalicBold") format("svg");
}

@font-face {
  font-family: "BookAntiqueRegular";
  src: url("../fonts/BookAntiqueRegular.eot");
  src: url("../fonts/BookAntiqueRegular.eot") format("embedded-opentype"), url("../fonts/BookAntiqueRegular.woff2") format("woff2"), url("../fonts/BookAntiqueRegular.woff") format("woff"), url("../fonts/BookAntiqueRegular.ttf") format("truetype"), url("../fonts/BookAntiqueRegular.svg#BookAntiqueItalicBold") format("svg");
}

@font-face {
  font-family: "BookAntiqueBold";
  src: url("../fonts/BookAntiqueBold.eot");
  src: url("../fonts/BookAntiqueBold.eot") format("embedded-opentype"), url("../fonts/BookAntiqueBold.woff2") format("woff2"), url("../fonts/BookAntiqueBold.woff") format("woff"), url("../fonts/BookAntiqueBold.ttf") format("truetype"), url("../fonts/BookAntiqueBold.svg#BookAntiqueItalicBold") format("svg");
}

@font-face {
  font-family: "BookAntiqueItalic";
  src: url("../fonts/BookAntiqueItalic.eot");
  src: url("../fonts/BookAntiqueItalic.eot") format("embedded-opentype"), url("../fonts/BookAntiqueItalic.woff2") format("woff2"), url("../fonts/BookAntiqueItalic.woff") format("woff"), url("../fonts/BookAntiqueItalic.ttf") format("truetype"), url("../fonts/BookAntiqueItalic.svg#BookAntiqueItalicBold") format("svg");
}

@font-face {
  font-family: "BookAntiqueItalicBold";
  src: url("../fonts/BookAntiqueItalicBold.eot");
  src: url("../fonts/BookAntiqueItalicBold.eot") format("embedded-opentype"), url("../fonts/BookAntiqueItalicBold.woff2") format("woff2"), url("../fonts/BookAntiqueItalicBold.woff") format("woff"), url("../fonts/BookAntiqueItalicBold.ttf") format("truetype"), url("../fonts/BookAntiqueItalicBold.svg#BookAntiqueItalicBold") format("svg");
}

/* line 2, ../../../_dev/scss/classes.scss */
.accented-pink {
  color: #e42c52;
}

/* line 5, ../../../_dev/scss/classes.scss */
.antique-italic {
  font-family: BookAntiqueItalic;
}

/* line 8, ../../../_dev/scss/classes.scss */
.antique-italic-bold {
  font-family: BookAntiqueItalicBold;
}

/* line 11, ../../../_dev/scss/classes.scss */
.black-substrate {
  font-family: tahoma;
  font-size: 14px;
  position: relative;
  top: 8px;
  text-transform: uppercase;
}

/* line 18, ../../../_dev/scss/classes.scss */
.breadcrumbs {
  left: 309px;
  position: absolute;
}

/* line 22, ../../../_dev/scss/classes.scss */
.centered-vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 25, ../../../_dev/scss/classes.scss */
.clear-both {
  clear: both;
}

/* line 28, ../../../_dev/scss/classes.scss */
.color-dark {
  color: #333333;
}

/* line 31, ../../../_dev/scss/classes.scss */
.color-pink {
  color: #e42c52;
}

/* line 34, ../../../_dev/scss/classes.scss */
.first {
  margin-bottom: 22px;
  padding-top: 22px;
}

/* line 38, ../../../_dev/scss/classes.scss */
.float-left {
  float: left;
}

/* line 41, ../../../_dev/scss/classes.scss */
.float-right {
  float: right;
}

/* line 44, ../../../_dev/scss/classes.scss */
.font-size18 {
  font-size: 18px;
}

/* line 47, ../../../_dev/scss/classes.scss */
.font-size24 {
  font-size: 24px;
}

/* line 50, ../../../_dev/scss/classes.scss */
.half-wide {
  background-repeat: no-repeat !important;
  float: left;
  width: 50%;
  /*&:nth-child(odd){
    background-color: lemonchiffon;
  }*/
}
/* line 54, ../../../_dev/scss/classes.scss */
.half-wide:nth-child(even) {
  padding-left: 13px;
}
/* line 60, ../../../_dev/scss/classes.scss */
#our-advantages .half-wide {
  margin-top: 11px;
}
/* line 63, ../../../_dev/scss/classes.scss */
#our-advantages .half-wide:nth-child(even) {
  background-position-x: 13px !important;
}
/* line 66, ../../../_dev/scss/classes.scss */
#our-advantages .half-wide:nth-child(1) {
  background: url("../images/sources/1280_default/hospitality.jpg");
}
/* line 69, ../../../_dev/scss/classes.scss */
#our-advantages .half-wide:nth-child(2) {
  background: url("../images/sources/1280_default/safety.jpg");
}
/* line 72, ../../../_dev/scss/classes.scss */
#our-advantages .half-wide:nth-child(3) {
  background: url("../images/sources/1280_default/good-prices.jpg");
}
/* line 75, ../../../_dev/scss/classes.scss */
#our-advantages .half-wide:nth-child(4) {
  background: url("../images/sources/1280_default/money-back.jpg");
}

/* line 79, ../../../_dev/scss/classes.scss */
.hide-menus {
  transform: translateX(-33.33%);
}

/* line 82, ../../../_dev/scss/classes.scss */
.italic {
  font-family: BookAntiqueItalic;
}
/* line 84, ../../../_dev/scss/classes.scss */
.italic.bold {
  font-family: BookAntiqueItalicBold;
}
/* line 87, ../../../_dev/scss/classes.scss */
.italic.first {
  font-size: 18px;
}

/* line 91, ../../../_dev/scss/classes.scss */
.left-panel {
  float: left;
  margin-bottom: 58px;
  width: 254px;
}

/* line 96, ../../../_dev/scss/classes.scss */
.loading {
  background-color: #87CEFA;
  border-radius: 16px;
  display: table;
  font-family: verdana;
  padding: 10px 20px;
}

/* line 103, ../../../_dev/scss/classes.scss */
.pointer-right {
  margin-left: 10px;
}
/* line 105, ../../../_dev/scss/classes.scss */
.pointer-right::before {
  content: '►';
}

/* line 110, ../../../_dev/scss/classes.scss */
.pseudoheader,
.pseudoheader-gray {
  display: block;
  font-family: BookAntiqueItalicBold;
}

/* line 114, ../../../_dev/scss/classes.scss */
.pseudoheader {
  color: #e42c52;
  font-size: 24px;
}

/* line 118, ../../../_dev/scss/classes.scss */
.pseudoheader-gray {
  font-size: 18px;
  color: #333333;
}

/* line 122, ../../../_dev/scss/classes.scss */
.show-left-menu {
  transform: translate(0);
}

/* line 125, ../../../_dev/scss/classes.scss */
.show-right-menu {
  transform: translateX(-66.66%);
}

/* line 128, ../../../_dev/scss/classes.scss */
.take-place-frame {
  background: url("../images/sources/curly-pink_waiting-you.png") no-repeat 10px 16px;
  border: solid 1px #e42c52;
  font-size: 18px;
  line-height: 44px;
  margin: 29px auto;
  padding-left: 51px;
}

/* line 136, ../../../_dev/scss/classes.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 18, ../../../_dev/scss/layout.scss */
a,
article,
aside,
body,
footer,
header,
div,
li,
main,
menu,
nav,
p,
section,
span,
ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../../../_dev/scss/layout.scss */
body, html {
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  /* line 26, ../../../_dev/scss/layout.scss */
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 480px) {
  /* line 33, ../../../_dev/scss/layout.scss */
  #left-side,
  #page,
  #right-side {
    float: left;
  }
}

/* line 11, ../../../_dev/scss/default.scss */
#ask-specialist {
  background: url("../images/sources/ask-specialist.png");
  background-position: 15px 13px;
}

/* line 15, ../../../_dev/scss/default.scss */
#banner {
  height: 201px;
  position: relative;
}

/* line 19, ../../../_dev/scss/default.scss */
#block-social-nets {
  background: url("../images/sources/social-nets.png") no-repeat;
  float: right;
  height: 30px;
  margin-left: 22px;
  width: 341px;
}

/* line 27, ../../../_dev/scss/default.scss */
label.finder-search {
  background-color: #000;
  border: none;
  color: white;
  float: right;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  height: 26px;
  text-align: center;
  width: 50px;
}

/* line 41, ../../../_dev/scss/default.scss */
.moduletable-cards {
  font-size: 0;
  margin-right: 7%;
}
/* line 44, ../../../_dev/scss/default.scss */
.moduletable-cards * {
  height: 100%;
}
@media (max-width: 1024px) {
  /* line 41, ../../../_dev/scss/default.scss */
  .moduletable-cards {
    margin-right: 3%;
  }
}
@media (max-width: 1024px) {
  /* line 41, ../../../_dev/scss/default.scss */
  .moduletable-cards {
    display: none;
  }
}

/* line 54, ../../../_dev/scss/default.scss */
.moduletable-menu_top {
  float: left;
}

@media (min-width: 1025px) {
  /* line 60, ../../../_dev/scss/default.scss */
  #content {
    padding-left: 286px;
  }
}

@media (max-width: 1024px) {
  /* line 66, ../../../_dev/scss/default.scss */
  #copyright {
    background-color: #000000;
    color: white;
  }
}

/* line 73, ../../../_dev/scss/default.scss */
#discount {
  display: none;
  font-family: BookAntiqueItalic;
}
@media (min-width: 1024px) {
  /* line 73, ../../../_dev/scss/default.scss */
  #discount {
    display: block;
  }
}

/* line 81, ../../../_dev/scss/default.scss */
#discount-to-all-first-time {
  background: url("../images/sources/1280_default/discount-first-figures.png") #e42c52 no-repeat 22px 14px;
  color: white;
  font: 18px/40px BookAntiqueItalicBold;
  height: 40px;
  margin-left: -30px;
  margin-top: 15px;
  padding-left: 63px;
}

/* line 91, ../../../_dev/scss/default.scss */
#discount1 {
  font-family: BookAntiqueItalic;
  font-size: 18px;
  margin-top: -4px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=21);
  opacity: 0.21;
  padding-right: 77px;
  text-align: right;
  -webkit-transform: scale(1.25, 1.1);
  -moz-transform: scale(1.25, 1.1);
  -ms-transform: scale(1.25, 1.1);
  -o-transform: scale(1.25, 1.1);
  transform: scale(1.25, 1.1);
}

/* line 101, ../../../_dev/scss/default.scss */
#discount2 {
  margin-top: -14px;
}

/* line 104, ../../../_dev/scss/default.scss */
#discount-more {
  display: table;
  margin: auto;
}

/* line 108, ../../../_dev/scss/default.scss */
#email {
  clear: both;
  color: #333333;
  float: right;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 13.4px;
  font-weight: bold;
  margin-right: -9px;
  margin-top: -2px;
  transform: scaleX(0.9);
}
/* line 118, ../../../_dev/scss/default.scss */
#email::before {
  content: "info@visavi-salon.spb.ru";
}

/* line 122, ../../../_dev/scss/default.scss */
#first-visit {
  color: #333333;
  font-size: 14px;
  margin-left: 3px;
}

/* line 127, ../../../_dev/scss/default.scss */
#join-us {
  display: none;
}

/* line 130, ../../../_dev/scss/default.scss */
#header-advantages {
  margin: auto auto 11px 28px;
}

/* line 135, ../../../_dev/scss/default.scss */
#header-achivement {
  background: url("../images/sources/our-achievements.png") no-repeat 0 43px;
  height: 324px;
  margin-top: 35px;
}

/* line 143, ../../../_dev/scss/default.scss */
#header-actions-and-discounts,
#header-popular-services,
#header-care {
  margin-bottom: 12px;
  margin-top: 15px;
  padding: 0;
}

/* line 149, ../../../_dev/scss/default.scss */
#header-actions {
  background: url("../images/sources/actions-and-discounts.png") no-repeat 0 43px;
  color: #e42c52;
  height: 372px;
  margin-top: 20px;
}

/* line 156, ../../../_dev/scss/default.scss */
#license {
  background: url("../images/sources/1280_default/license.png") #fafafa no-repeat 99% 20px;
  border: double #EEE;
  display: block;
  font: 18px/18px BookAntiqueItalic;
  margin-top: 11px;
  padding: 14px 122px 13px 26px;
}

/* line 165, ../../../_dev/scss/default.scss */
#left-side,
#right-side {
  background-color: #F5F6F5;
  display: none;
}

/* line 170, ../../../_dev/scss/default.scss */
#left-side {
  min-width: 232px;
}

/* line 173, ../../../_dev/scss/default.scss */
#like-it {
  float: right;
  font: 13px/27px Tahoma, Arial, sans-serif;
  font-weight: bold;
  margin-top: 19px;
}

/* line 179, ../../../_dev/scss/default.scss */
#right-side {
  min-width: 200px;
}

/* line 182, ../../../_dev/scss/default.scss */
#make-appointment {
  background: url("../images/sources/make-appointment.png");
  background-position: 13px 11px;
}

/* line 186, ../../../_dev/scss/default.scss */
#make-gift {
  background: url("../images/sources/make-gift.png");
  background-position: 13px 10px;
}

/* line 190, ../../../_dev/scss/default.scss */
#menu-right {
  cursor: pointer;
}

/* line 193, ../../../_dev/scss/default.scss */
#page {
  background-color: white;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 1100px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  /* line 193, ../../../_dev/scss/default.scss */
  #page {
    max-width: 1007px;
  }
}

/* line 203, ../../../_dev/scss/default.scss */
#phones {
  float: right;
  clear: both;
}

/* line 207, ../../../_dev/scss/default.scss */
#roof {
  background-color: #f7f7f7;
  border-bottom: solid 1px #e1e1e1;
  height: 34px;
  overflow: hidden;
}

/* line 213, ../../../_dev/scss/default.scss */
#services-kinds {
  margin: 11px auto auto 9px;
}

/* line 216, ../../../_dev/scss/default.scss */
#slider {
  background: url("../images/sources/banner.jpg");
  height: 100%;
  position: relative;
}

/* line 221, ../../../_dev/scss/default.scss */
#slider-controls {
  bottom: 15px;
  left: 28.1%;
  position: absolute;
}

/* line 226, ../../../_dev/scss/default.scss */
#social {
  height: 34px;
  margin: 2px 0;
}
@media (min-width: 1024px) {
  /* line 226, ../../../_dev/scss/default.scss */
  #social {
    display: none;
  }
}

/* line 233, ../../../_dev/scss/default.scss */
#visavi {
  background: url("../images/sources/logotype.png") no-repeat 3.2% 17px;
  height: 109px;
  border-bottom: solid 1px #e1e1e1;
}

/* line 240, ../../../_dev/scss/default.scss */
#all-services,
#roof-mobile {
  display: none;
}

/* line 244, ../../../_dev/scss/default.scss */
#all-services, #join-us {
  height: 44px;
}

/* line 247, ../../../_dev/scss/default.scss */
#all-services {
  background-color: #e42c52;
}

/* line 250, ../../../_dev/scss/default.scss */
#join-us {
  text-align: center;
}

/* line 253, ../../../_dev/scss/default.scss */
#roof-mobile {
  background: url("../images/sources/logotype-mobile.png") no-repeat 15px 5px;
  height: 44px;
}

/* line 257, ../../../_dev/scss/default.scss */
#waiting-you {
  margin-bottom: 6px;
  margin-top: 15px;
}

/* line 261, ../../../_dev/scss/default.scss */
#welcome {
  color: #333333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 13px;
  margin-left: -30px;
}

@media (max-width: 480px) {
  /* line 268, ../../../_dev/scss/default.scss */
  #banner, #roof, #visavi {
    display: none;
  }
}
@media (max-width: 480px) {
  /* line 274, ../../../_dev/scss/default.scss */
  #all-services,
  #roof-mobile {
    display: block;
  }
}
