
<section id="welcome"><i class="pseudoheader">Добро пожаловать!</i>
  <div>
    <aside><a href="#"><span>3D</span><span>тур</span>по салону</a></aside>
    <div><strong>Салон красоты &laquo;ВИЗАВИ&raquo; в Невском районе СПб ─ это команда профессиональных мастеров и стилистов, которые помогут Вам создать и сохранить свой неповторимый стиль!</strong>
      <p>Вас ожидает расслабляющая, уютная атмосфера и доброжелательное отношение!</p>
    </div>
  </div>
</section>
<div id="discount-to-all-first-time"><a href="#">Получить скидку</a>Скидка 20% на услуги салона во время первого посещения</div>
<section id="waiting-you">
  <div class="half-wide"><i class="pseudoheader-gray">В нашем салоне красоты Вас всегда ждёт:</i>
    <ul class="curly">
      <li>Квалифицированный персонал</li>
      <li>Качественное обслуживание</li>
      <li>Уютная атмосфера</li>
      <li>Доброжелательное отношение</li>
    </ul>
  </div>
  <div class="half-wide">
    <p>Если вы ещё не являетесь нашим клиентом и думаете, какой из множества салонов выбрать, запишитесь к нам на <span class='accented-pink'>БЕСПЛАТНУЮ консультацию по телефону 401-03-94</span>. Запись абсолютно бесплатна и ни к чему вас не обязывает.</p>
    <p>Просто скажите администратору, что желаете получить консультацию и он запишет Вас на удобное время.</p>
  </div>
</section><i id="header-advantages" class="pseudoheader">Наши преимущества</i>
<section id="our-advantages">
  <div class="half-wide">
    <div class="black-substrate">
      <div>Гостеприимство и вежливость</div>
      <div>Гостеприимство и вежливость</div>
    </div>
    <p>Мы гарантируем вам гостеприимство и вежливость персонала. Если к вам не проявили корректности и должного уважения, сообщите об этом администратору или управляющему и мы выплатим вам компенсацию 1000 рублей.</p>
  </div>
  <div class="half-wide">
    <div class="black-substrate">
      <div>Безопасность и профессионализм</div>
      <div>Безопасность и профессионализм</div>
    </div>
    <p>Главный принцип работы нашего салона ─ безопасность клиентов. Мы работаем только со стерильными инструментами, все мастера имеют санитарные книжки. Все услуги и косметички в салоне имеют лицензии и сертификаты.</p>
  </div>
  <div class="half-wide">
    <div class="black-substrate">
      <div>Справедливые цены</div>
      <div>Справедливые цены</div>
    </div>
    <p>Наши мастера понимают и уважают своих клиентов, поэтому не навязывают безумных идей и ненужных услуг, а рекомендуют оптимальный вариант для получения наилучшего результата.</p>
  </div>
  <div class="half-wide">
    <div class="black-substrate">
      <div>Возврат денег, если не понравится</div>
      <div>Возврат денег, если не понравится</div>
    </div>
    <p>Если вам не понравился результат нашей работы - мы вернём вам деньги в течение 3-х дней.</p>
  </div>
</section><i id="license">Салон обладает <span class='accented-pink uppercase'>государственной медицинской лицензией</span> на такие виды терапевтической косметологии, как:</i>
<ul id="services-kinds" class="curly">
  <li>Аппаратная косметология (микротоковая терапия, RF-лифтинг, лазерно-вакуумный массаж)</li>
  <li>Инъекционные методики (мезотерапия, контурная пластика, биоревитализация)</li>
  <li>Устранение и лечение дефектов кожи (рубцов, пигментаций)</li>
  <li>Уходовые процедуры</li>
  <li>Применение ботулотоксина (ботокс, диспорт, лантокс)</li>
  <li>Физиотерапия и массаж</li>
</ul>