
<div id="page-action">
  <h1 class="italic bold first color-dark">Скидка на контурную пластику 10%</h1>
  <p class="banner">Контурная пластика лица идеально подойдёт для тех, кто хочет избавиться от носогубных складок, убрать &laquo;гусиные лапки&raquo; и разгладить мимические морщинки, мешки под глазами.</p>
  <p><b>Контурная пластика является одной из самых популярных процедур по омоложению лица.<br>Это связано с тремя важными факторами:</b></p>
  <ul class="color-pink block">
    <li><span>легкость проведения процедуры</span></li>
    <li><span>великолепный быстрый результат</span></li>
    <li><span>безболезненность</span></li>
  </ul>
  <p>Контурная пластика лица идеально подойдёт для тех, кто хочет избавиться от носогубных складок, убрать &laquo;гусиные лапки&raquo; и разгладить мимические морщинки, мешки под глазами.</p>
  <div id="waiting-you-for-coming" class="italic bold color-pink">Мы ждём вас! Вы можете записаться на приём здесь<a href="#">записаться онлайн</a></div>
  <div id="like-it" class="color-pink">Понравилось? Поделись с друзьями! <span class='pointer-right'></span>
    <div id="block-social-nets"></div></div>
</div>