
<div id="page-care">
  <h1 class="italic bold first color-dark">Уход за телом</h1>
  <p>Это очень приятная, расслабляющая и полезная процедура, а также наилучший подарок, который себе может сделать женщина. Хотите погрузиться в мир роскошных ароматов, эфирных масел и волшебных прикосновений профессионального массажиста? Приходите к нам, Вы выйдете похорошевшей, отдохнувшей и обновлённой.</p>
  <p>Обёртывание привлекательно в первую очередь тем, что результат заметен сразу! Уже в течение первых двух-трёх дней объём Вашей талии и бёдер может стать меньше на 2,5-3 см. Результат после прохождения полного курса, а это ─ 10-12 обёртываний, может быть просто ошеломляющим.</p>
  <hr class="separator"/>
  <section>
    <div>
      <div>
        <div></div>
      </div>
      <aside>
        <h4>Пилинг</h4>
        <p>Пилинги ─ процедура направлена на очищение и обновление клеток кожи, способствует её тонизации и детоксикации. Соли, морские водоросли, растительные фитоэкстракты, косточки винограда, скорлупа жемчужной устрицы и другие полирующие ингредиенты обеспечивают здоровье и сияние Вашей кожи.</p>
      </aside>
    </div>
    <div>
      <div>
        <div></div>
      </div>
      <aside>
        <h4>Обёртывание</h4>
        <p>Пилинги ─ процедура направлена на очищение и обновление клеток кожи, способствует её тонизации и детоксикации. Соли, морские водоросли, растительные фитоэкстракты, косточки винограда, скорлупа жемчужной устрицы и другие полирующие ингредиенты обеспечивают здоровье и сияние Вашей кожи.</p>
      </aside>
    </div>
    <div>
      <div>
        <div></div>
      </div>
      <aside>
        <h4>Пилинг2</h4>
        <p>Пилинги ─ процедура направлена на очищение и обновление клеток кожи, способствует её тонизации и детоксикации. Соли, морские водоросли, растительные фитоэкстракты, косточки винограда, скорлупа жемчужной устрицы и другие полирующие ингредиенты обеспечивают здоровье и сияние Вашей кожи.</p>
      </aside>
    </div>
    <div>
      <div>
        <div></div>
      </div>
      <aside>
        <h4>Пилинг3</h4>
        <p>Пилинги ─ процедура направлена на очищение и обновление клеток кожи, способствует её тонизации и детоксикации. Соли, морские водоросли, растительные фитоэкстракты, косточки винограда, скорлупа жемчужной устрицы и другие полирующие ингредиенты обеспечивают здоровье и сияние Вашей кожи.</p>
      </aside>
    </div>
  </section>
</div>