
<div id="page-actions">
  <h1 class="italic bold first color-dark">Акции</h1>
  <h4><a href="discount-first">Скидка 50% на первое посещение салона</a></h4>
  <p>Косметология ─ это тандем разлчных специализированных процедур, направленных на уход за кожей. Находясь между медицинской наукой и искусством, косметология является постоянно развивающейся сферой. Обладая современными знаниями и навыками, а также ─ постоянно повышая свою квалификацию, косметологи предоставляют высокий уровень качества услуг.</p>
  <h4><a href="sertificates-sale">Распродажа подарочных сертификатов</a></h4>
  <p>Косметология ─ это тандем разлчных специализированных процедур, направленных на уход за кожей. Находясь между медицинской наукой и искусством, косметология является постоянно развивающейся сферой. Обладая современными знаниями и навыками, а также ─ постоянно повышая свою квалификацию, косметологи предоставляют высокий уровень качества услуг.</p>
  <h4><a href="contour-plactics-sale">Скидак на контурную пластику</a></h4>
  <p>Косметология ─ это тандем разлчных специализированных процедур, направленных на уход за кожей. Находясь между медицинской наукой и искусством, косметология является постоянно развивающейся сферой. Обладая современными знаниями и навыками, а также ─ постоянно повышая свою квалификацию, косметологи предоставляют высокий уровень качества услуг.</p>
  <h4><a href="lpg-sale">Скидака на LPG</a></h4>
  <p>Косметология ─ это тандем разлчных специализированных процедур, направленных на уход за кожей. Находясь между медицинской наукой и искусством, косметология является постоянно развивающейся сферой. Обладая современными знаниями и навыками, а также ─ постоянно повышая свою квалификацию, косметологи предоставляют высокий уровень качества услуг.</p>
  <h4><a href="rf-lifting-sale">Скидка на RF-лифтинг</a></h4>
  <p>Косметология ─ это тандем разлчных специализированных процедур, направленных на уход за кожей. Находясь между медицинской наукой и искусством, косметология является постоянно развивающейся сферой. Обладая современными знаниями и навыками, а также ─ постоянно повышая свою квалификацию, косметологи предоставляют высокий уровень качества услуг.</p>
</div>