
<div class="left-panel">
  <h4>Популярные услуги</h4>
  <menu>
    <li><a href="moon">лунный маникюр</a></li>
    <li><a href="lifting">rf-лифтинг</a></li>
    <li><a href="epilation">лазерная эпиляция</a></li>
    <li><a href="straightening">керативное выпрямление волос</a></li>
    <li><a href="haircut">стрижка горячими ножницами</a></li>
    <li><a href="massage">lpg массаж</a></li>
    <li><a href="botox">ботокс</a></li>
  </menu>
  <h4>Акции и скидки</h4>
  <h4>Наши заслуги</h4>
</div>
<div id="content">
  <section id="welcome"><i>Добро пожаловать!</i>
    <div>
      <aside><a href="#"><span>3D</span><span>тур</span>по салону</a></aside>
      <div><strong>Салон красоты &laquo;ВИЗАВИ&raquo; в Невском районе СПб ─ это команда профессиональных мастеров и стилистов, которые помогут Вам создать и сохранить свой неповторимый стиль!</strong>
        <p>Вас ожидает расслабляющая, уютная атмосфера и доброжелательное отношение!</p>
      </div>
    </div>
  </section>
</div>